.mod-about-hero {
    position: relative;
    &__inner {
        @extend .innerPadding;
        @include bp-tablet {
            min-height: 653px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 50%;
        }
    }
    &__animation {
        @extend .innerPadding;
        @include bp-tablet {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.mod-company-list {
    padding-right: 60px;
    ul {
        margin: 0;
        @include bp-tablet {
            column-count: 2;
            column-gap: 40px;
        }
    }
    li {
        display: block;
        margin-bottom: 1em;
    }
}

.mod-our-board {
    @include bp-tablet {
        display: flex;
        flex-wrap: wrap;
    }
    &--title {
        @include bp-tablet {
            width: 20%;
            padding: 0 20px;
        }
    }
    &--person {
        @include bp-tablet {
            padding: 0 20px;
            width: 40%;
            border-left: 1px solid $grey;
        }
        figure {
            margin-bottom: 20px;
        }

    }
}

.mod-our-people {
    @include bp-tablet {
        display: flex;
        flex-wrap: wrap;
    }
    &--title {
        @include bp-tablet {
            width: 25%;
            padding: 0 20px;
        }
    }
    &--person {
        margin-bottom: 60px;
        @include bp-tablet {
            padding: 0 20px;
            width: 25%;
            border-left: 1px solid $grey;
        }
        figure {
            margin-bottom: 20px;
        }
        
    }
}