.mod-about-hero {
    position: relative;
    &__inner {
        @extend .innerPadding;
        @include bp-tablet {
            min-height: 653px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 50%;
        }
    }
    &__animation {
        @extend .innerPadding;
        @include bp-tablet {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.mod-company-list {
    padding-right: 60px;
    ul {
        margin: 0;
        @include bp-s {
            padding: 0 $padding-s;
        }
        @include bp-tablet {
            padding: 0;
            column-count: 2;
            column-gap: 40px;
        }
    }
    li {
        display: block;
        margin-bottom: 1em;
    }
}

.mod-our-board {
    @include bp-tablet {
        display: flex;
        flex-wrap: wrap;
    }
    &--title {
        @include bp-s {
            padding: 0 $padding-s;
        }
        @include bp-tablet {
            width: 33.33%;
        }
        @include bp-xl {
            width: 25%;
        }
    }
    &--person {
        margin-bottom: 60px;
        @include bp-s {
            padding: 0 $padding-s;
        }
        @include bp-tablet {
            margin-bottom: 0;
            width: 33.33%;
            border-left: 1px solid $grey;
        }
        @include bp-xl {
            width: 37.5%;
        }
        figure {
            margin-bottom: 20px;
            img {
                width: 100%;
                display: block;
                height: auto;
            }
        }
        >div {
            position: relative;
            @include bp-tablet {
                padding-bottom: 50px;
            }
        }
        a {
            @include bp-tablet {
                position: absolute;
                bottom: 0;
                left: 0;
            }
        }
    }
}

.mod-our-people {
    @include bp-tablet {
        display: flex;
        flex-wrap: wrap;
    }
    &--title {
        @include bp-s {
            padding: 0 $padding-s;
        }
        @include bp-tablet {
            width: 33.33%;
        }
        @include bp-xl {
            width: 25%;
        }
    }
    &--person {
        margin-bottom: 60px;
        @include bp-s {
            padding: 0 $padding-s;
        }
        @include bp-tablet {
            width: 33.33%;
            border-left: 1px solid $grey;
        }
        @include bp-xl {
            width: 25%;
        }
        >div {
            position: relative;
            @include bp-tablet {
                padding-right: 20px;
            }
        }
    }
}
