.mod-home-what-is-the-cluster {
    position: relative;
    &__inner {
        padding-top: 30px;
        padding-bottom: 30px;
        @extend .innerPadding;
        @include bp-desktop {
            min-height: 900px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 600px;
        }
        p {
            max-width: 500px;
        }
        .cta-pink {
            margin-top: 20px;
        }
        
    }

    &__animation {
        height: auto;
        @include bp-desktop {
            
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 20px;
        }
        @include bp-xxl {
            right: calc(50% - 1400px / 2);
        }
        
        .wheel {
            display: flex;
            flex-direction: column;
            justify-content: center;
            // margin-left: auto;
            // margin-right: auto;
            position: relative;
            overflow: hidden;
            min-height: 800px;
            height: 100%;
            margin-right: 0;
            margin-left: auto;
            @include bp-tablet {
                width: 450px;
            }
        }
        .words {
            position: relative;
            width: 900px;
            height: 900px;
            display: block;
            padding: 0;
            margin: 0;
            
        }
        .word {
            margin-top: 50%;
            display: block;
            position: absolute;
            text-align: right;
            padding-right: 150px;
            width: 450px;
            @extend .wheel-copy;
            display: flex;
            justify-content: flex-end;
            transform-origin: 100% 0;
            line-height: 52px;
            span {
                text-align: right;
                display: block;
                position: relative;
            }
            i {
                position: absolute;
                top: 50%;
                margin-top: -14px;
                left: 150%;
                opacity: 0;
                background-color: $accent;
                height: 28px;
                width: 85px;
                display: inline-block;
            }

            &--1 { transform: rotate(0deg); }
            &--2 { transform: rotate(18deg); }
            &--3 { transform: rotate(36deg); }
            &--4 { transform: rotate(54deg); }
            &--5 { transform: rotate(72deg); }
            &--6 { transform: rotate(90deg); }
            &--7 { transform: rotate(108deg); }
            &--8 { transform: rotate(126deg); }
            &--9 { transform: rotate(144deg); }
            &--10 { transform: rotate(162deg); }
            &--11 { transform: rotate(-180deg); }
            &--12 { transform: rotate(-162deg); }
            &--13 { transform: rotate(-144deg); }
            &--14 { transform: rotate(-126deg); }
            &--15 { transform: rotate(-108deg); }
            &--16 { transform: rotate(-90deg); }
            &--17 { transform: rotate(-72deg); }
            &--18 { transform: rotate(-54deg); }
            &--19 { transform: rotate(-36deg); }
            &--20 { transform: rotate(-18deg); }
        }
    }

}

.mod-home-join {
    &__inner {
        
        // @extend .innerPadding;
        p {
            margin-bottom: 1em;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &__perks {
        height: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        @extend .innerPadding;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &--perk {
            margin-bottom: 30px;
            @include bp-xl {
                margin-bottom: 60px;
            }
        }
    }
    .mod-columns--content {
        // max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    &__media {
        padding: 20px 0;    
        @include bp-s {
            padding: 20px;
        }
        height: 100%;
        figure {
            width: 100%;
            height: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            // height: auto;
        }
    }
}


.mod-home-involved {
    text-align: center;
    overflow: hidden;

    h2 {
        margin-bottom: 30px;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
    .marquee {
        overflow: hidden;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 37px;
        line-height: 1;
        font-family: $font-title;
        font-weight: $weight-reg;

        a {
            &:hover {
                color: $accent;
                text-decoration: none;
            }
        }
    }

    &__inner {
        padding-top: 90px;
    }
    &__list {
        padding-bottom: 90px;
        @include bp-tablet {
        }

        a {
            margin-top: 40px;
        }
    }
    
    &__articles {
        text-align: left;
    }
    &__articlestitle {
        padding: 20px 0;
        padding-top: 30px;
        @include bp-s {
            padding: 20px;
            padding-top: 60px;
        }
    }
    &__articleslist {
        // padding-bottom: 40px;
        @include bp-tablet {
            padding-bottom: 60px;
            // padding-bottom: 90px;
            display: flex;
            flex-wrap: wrap;
        }
        @include bp-xl {
            padding-bottom: 90px;
        }
        .mod-home-involved__article {
            width: 100%;
            @include bp-s {
                padding: 0 20px;
            }
            @include bp-tablet {
                margin-bottom: 60px;
                width: 50%;
                border-left: 1px solid $grey;
            }
            @include bp-desktop {
                width: 33.33%;
                margin-bottom: 0;
            }
            >div {
                position: relative;
                padding-bottom: 80px;
                height: 100%;
            }

            figure {
                margin-bottom: 20px;
                img {
                    width: 100%;
                    display: block;
                    height: auto;
                }
            }
            p {
            }
            a {
                @include bp-tablet {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
            &:first-child {
                border-left: 0;
            }
        }
    }
}

