.mod-home-what-is-the-cluster {
    position: relative;
    &__inner {
        padding: 30px 0;
        @extend .innerPadding;
        @include bp-s {
            padding: 30px;
        }
        @include bp-xl {
            min-height: 653px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 50%;
        }
        
    }

    &__animation {
        text-align: right;
        @include bp-xl {
            position: absolute;
            top: 0;
            bottom: 0;
            right: calc(50% - 1400px / 2);
        }
    }

}

.mod-home-join {
    &__inner {
        
        @extend .innerPadding;
        p {
            margin-bottom: 1em;
        }
    }

    &__perks {
        height: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
        @extend .innerPadding;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &--perk {
            margin-bottom: 30px;
            @include bp-xl {
                margin-bottom: 60px;
            }
        }
    }
    .mod-columns--content {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    &__media {
        padding: 20px 0;    
        @include bp-s {
            padding: 20px;
        }
        img {
            width: 100%;
            display: block;
            height: auto;
        }
    }
}


.mod-home-involved {
    text-align: center;
    overflow: hidden;

    h2 {
        margin-bottom: 54px;
        max-width: 600px;
    }
    .marquee {
        overflow: hidden;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-size: 37px;
        line-height: 1;
        font-family: $font-title;
        font-weight: $weight-reg;
    }

    &__inner {
        padding-top: 90px;
    }
    &__list {
        padding-bottom: 90px;

        a {
            margin-top: 40px;
        }
    }
    
    &__articles {
        text-align: left;
    }
    &__articlestitle {
        padding: 20px;
        padding-top: 60px;
    }
    &__articleslist {
        padding-bottom: 60px;
        @include bp-tablet {
            padding-bottom: 160px;
            display: flex;
        }
        .mod-home-involved__article {
            padding: 0 20px;
            @include bp-tablet {
                border-left: 1px solid $grey;
                width: 33.33%;
            }
            >div {
                position: relative;
                padding-bottom: 80px;
                height: 100%;
            }

            figure {
                margin-bottom: 20px;
                img {
                    width: 100%;
                    display: block;
                    height: auto;
                }
            }
            p {
            }
            a {
                @include bp-tablet {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }
            &:first-child {
                border-left: 0;
            }
        }
    }
}

