.mod-home-intro {
    padding-top: 55px;
    padding-bottom: 60px;
    @include bp-tablet {
        text-align: center;
        padding-top: 90px;
        padding-bottom: 100px;
    }

    img {
        display: block;
        margin-bottom: 44px;
        margin-left: auto;
        margin-right: auto;
        width: 138px;
        @include bp-tablet {
            width: 220px;
        }
    }
    p {
        max-width: 660px;
        margin-left: auto;
        margin-right: auto;
        color: $darkblue;
        margin-bottom: 50px;
    }
}

.mod-home-about {
    position: relative;
    background-color: $darkblue;
    @include bp-tablet {
        margin-bottom: 48px;
        display: flex;
    }
    &:before, &:after {
        content: "";
        display: block;
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 10%;
        @include bp-tablet {
            height: 7%;
        }
        @include bp-xl {
            height: 10%;
        }
    }
    &:before {
        top: 0;
    }
    &:after {
        bottom: 0;
        display: none;
        @include bp-tablet {
            display: block;
        }
    }
    &__copy {
        padding-top: 10%;
        padding-bottom: 10%;
        color: #EFEEF2;
        @include bp-tablet {
            width: 60%;
            order: 1;
        }
        @include bp-desktop {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;
        }
        .h2 {
            text-align: center;
            margin-bottom: 18px;
            @include bp-tablet {
                text-align: left;
            }
        }
        .container {
            @include bp-desktop {
                max-width: 440px;
                margin-right: 0;
                padding-right: 30px;
            }
            @include bp-xl {
                max-width: 550px;
            }
        }
        .cta {
            margin-top: 30px;
            a {
                max-width: 320px;
                display: block;
                text-align: center;
                margin: 0 auto 18px;
                margin-bottom: 18px;
                @include bp-xl {
                    width: auto;
                    margin-right: 15px;
                    display: inline-block;
                }
            }
            @include bp-tablet {
                margin-top: 35px;
            }
        }
    }
    figure {
        position: relative;
        z-index: 3;
        padding: 0 15px;
        display: block;
        max-width: 800px;
        @include bp-xs {
            padding: 0 30px;
        }

        @include bp-tablet {
            padding: 0;
            width: 40%;
            order: 2;
        }
        @include bp-desktop {
            width: 50%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}

.mod-home-asset-management {
    position: relative;
    background: #EFEEF2 url(../media/images/bg-lines.svg) 0 70px;
    // background-size: 100% auto;
    background-repeat: repeat;
    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $darkblue;
        height: 122px;
        display: block;
        @include bp-tablet {
            background-color: $white;
        }
    }
    &--top {
        position: relative;
        z-index: 2;
        &:before {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            bottom: 0;
            background-color: $silver;
            box-shadow: 20px 20px 40px rgba(29, 38, 71, 0.25);
            display: block;
            left: 0;
            @include bp-xs {
                left: 15px;
            }
            @include bp-tablet {
                left: calc(100% / 2 - 650px);
            }
        }
        .h2 {
            position: relative;
            z-index: 1;
            color: $darkerblue;
            padding: 17px 0;
            @include bp-tablet {
                padding: 40px 0;
            }
        }
    }
    &--section1 {
        position: relative;
        &:before {
            display: block;
            position: absolute;
            content: "";
            top: -62px;
            left: 0;
            z-index: 1;
            bottom: 0;
            background-color: $darkerblue;;
            box-shadow: 0px 6px 40px rgba(29, 38, 71, 0.25);
            right: 0;
            @include bp-tablet {
                right: 20px;
            }
            @include bp-desktop {
                right: 27px;
            }
            @include bp-xl {
                right: 62px;
            }
        }
        .intro{
            position: relative;
            z-index: 2;
            .h3 {
                padding-top: 45px;
            }
            p {
                margin-bottom: 45px;
                color: $silver;
                @include bp-xl {
                    column-count: 2;
                    column-gap: 30px;
                }
            }
        }
        .mod-cards {
            width: 100%;
            justify-content: space-between;
            overflow: hidden;
            position: relative;
            z-index: 2;
            padding-bottom: 70px;
            @include bp-tablet {
                padding-bottom: 120px;
                display: flex;
            }
            @include bp-desktop {
                padding-bottom: 160px;
            }
            .card-item {
                margin-bottom: 15px;
                @include bp-xs {
                    margin-bottom: 30px;
                }
                @include bp-tablet {
                    margin-bottom: 0;
                }
            }
        }
    }
    &--section2 {
        position: relative;
        z-index: 2;
        margin-top: -60px;
        margin-left: auto;
        margin-right: auto;
        max-width: 540px;
        @include bp-tablet {
            max-width: 876px;
        }
        @include bp-xl {
            max-width: 1130px;
        }
        &--inner {
            background-color: #fff;
            box-shadow: 0px 6px 40px rgba(29, 38, 71, 0.25);
            padding: 30px 15px;
            @include bp-xs {
                padding: 30px 30px;
            }
            @include bp-tablet {
                padding: 55px;
                display: flex;
                justify-content: space-between;
            }
            @include bp-desktop {
                padding: 30px;
            }
            @include bp-xl {
                padding: 47px;
            }
        }
        &--copy {
            padding: 0 0 35px 0;
            color: $darkblue;
            @include bp-tablet {
                padding: 40px 40px 40px 0;
                width: 45%;
            }
        }
        .card-item {
            @include bp-tablet {
                width: 55%;
            }
            .card-item__front img {
                height: 220px;
            }
        }
    }
    &--section3 {
        position: relative;
        &:before {
            display: block;
            position: absolute;
            content: "";
            top: -60px;
            z-index: 1;
            right: 0;
            bottom: 0;
            background-color: $darkblue;
            box-shadow: 0px 6px 40px rgba(29, 38, 71, 0.25);
            left: 0;
            @include bp-tablet {
                left: 15px;
            }
            @include bp-desktop {
                left: 27px;
            }
            @include bp-xl {
                left: 62px;
            }
        }
        .container {
            padding: 30px 0;
            position: relative;
            z-index: 2;
            @include bp-xl {
                padding: 80px 0 80px 0;
                display: flex;
            }
            
        }
        &--copy {
            color: $silver;
            padding: 15px;
            @include bp-xs {
                padding: 30px;
            }
            @include bp-xl {
                width: 33.33%;
            }
        }
    }
    &--realestate {
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        padding: 15px;
        @include bp-xs {
            padding: 15px 30px;
        }
        @include bp-xl {
            align-items: center;
            width: 66.66%;
        }
        .estate {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid #EFEEF2;
            padding: 18px 15px 10px 15px;
            width: calc(50% - 15px);
            margin-bottom: 15px;
            @include bp-tablet {
                width: calc(33.33% - 30px);
            }
            &:last-child {
                margin-left: auto;
                margin-right: auto;
                @include bp-tablet {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
            img {
                display: block;
                height: 100px;
                margin-left: auto;
                margin-right: auto;
                @include bp-tablet {
                    margin-bottom: 9px;
                }
            }
            p {
                font-weight: $weight-bold;
                color: $silver;
                margin-bottom: 0;
                font-size: 14px;
                @include bp-tablet {
                    font-size: 20px;
                }
            }
        }
    }
    &--section4 {
        position: relative;
        margin-top: 60px;
        overflow: hidden;
        @include bp-tablet {
            height: 620px;
            display: flex;
        }
        @include bp-xl {
            height: 700px;
        }
        &:before {
            display: block;
            position: absolute;
            content: "";
            top: 0;
            z-index: 1;
            right: 0;
            bottom: 0;
            background-color: $teal;
            box-shadow: 0px 6px 40px rgba(29, 38, 71, 0.25);
            left: 0;
            @include bp-tablet {
                left: 55px;
            }
            @include bp-desktop {
                left: calc(100% / 2 - 410px);
            }
            @include bp-xl {
                left: calc(100% / 2 + 1100px / 2 - 1070px);
            }
        }

        &--illustration {
            z-index: 2;
            position: relative;
            padding: 50px;
            overflow: hidden;
            @include bp-tablet {
                padding: 0;
                top: 40px;
                right: 40px;
                position: absolute;
                width: 55%;
            }
            @include bp-desktop {
                width: 46%;
            }
            @include bp-xl {
                top: 85px;
                width: 540px;
                right: calc(100% / 2 + 1100px / 2 - 1070px);
            }
            >div {
                position: relative;

            }
            svg {
                display: block;
            }
            .circle {
                position: absolute;
                top: 0;
                left: 0;
                // animation: rotation 20s infinite linear;
                width: 100%;
                height: 100%;
            }
            .brain {
                position: relative;
                z-index: 1;
            }
            .elt {
                opacity: 0;
            }
            &.is-inview {
                // .circle {
                //     animation: rotation 2.5s 1 ease-in-out;
                // }
                .elt {
                    opacity: 1;
                    transition: opacity 0.5s ease;
                    &--i1 { transition-delay: 0.6s; }
                    &--i2 { transition-delay: 0.7s; }
                    &--i3 { transition-delay: 0.8s; }
                    &--i4 { transition-delay: 0.9s; }
                    &--i5 { transition-delay: 1.0s; }
                    &--i6 { transition-delay: 1.1s; }
                    &--i7 { transition-delay: 1.2s; }
                    &--i8 { transition-delay: 1.3s; }
                }
            }
        }
        &--copy {
            background-color: #fff;
            box-shadow: 0px 6px 40px rgba(29, 38, 71, 0.25);
            position: relative;
            z-index: 2;
            align-self: center;
            color: $darkblue;
            padding: 30px 0;
            @include bp-xs {
                // padding: 30px;
            }
            @include bp-tablet {
                padding: 50px 0px 50px 27px;
                width: 50%;
            }
            @include bp-xl {
                width: 50%;
                padding: 80px 40px 80px 0;
            }

            .container {
                @include bp-desktop {
                    max-width: 440px;
                    margin-right: 0;
                }
                @include bp-xl {
                    margin-left: auto;
                    max-width: 510px;
                }
            }
        }
    }
}

@keyframes rotation {
  from {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(0deg);
  }
}
