<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>The Fusion Cluster - About Us</title>
	<meta name="author" content="The Fusion Cluster">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">

	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/favicon/site.webmanifest">
	<!-- <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5"> -->
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="theme-color" content="#211e25">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body class="homepage">
	<div id="page">
		<a href="#content" class="screen-reader-text">Skip to content</a>

		@@include('../partials/header.html')


		<main>
			<section class="mod-about-hero bg-section--silver">
				<div class="container">
					<div class="lines">	
						<div class="bottom-line"></div>
						<div class="mod-about-hero__inner inpage-hero">
							<p class="h4 ivanim-fade">What is The Fusion Cluster?</p>
							<h2 class="h2 ivanim-fade d2">Sparking the fusion<br />revolution. Together.</h2>
							
							<div class="ivanim-fade d3">
								<p>Renewable energy is great, but the challenge of climate change is so vast, it’s not enough. We need fusion. The planet, society, the future needs fusion. And at The Fusion Cluster we’re helping to create it.</p>
							</div>
						</div>
						<div class="mod-about-hero__animation ivanim-fade d3">
							<svg width="374" height="374" viewBox="0 0 374 374" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M186.969 187.241L186.766 187.5V187.167H187.173V187.445L186.969 187.241Z" fill="#FF8DF5"/>
							<path d="M203.105 225.995V373.946H170.822V225.921L186.963 209.854L203.105 225.995Z" fill="#FF8DF5"/>
							<path d="M186.969 186.704L187.173 186.5V186.76H186.766V186.5L186.969 186.704Z" fill="#FF8DF5"/>
							<path d="M203.105 0V148.006L186.963 164.148L170.822 148.006V0H203.105Z" fill="#FF8DF5"/>
							<path d="M148.002 203.105H170.817V225.921L66.1683 330.588L43.3525 307.772L148.002 203.105Z" fill="#FF8DF5"/>
							<path d="M186.757 187.5V187.167H186.498L186.702 186.963L186.757 187.037L186.906 187.167L186.961 187.241L186.757 187.5Z" fill="#FF8DF5"/>
							<path d="M187.16 186.76H187.438L187.234 186.964L187.16 186.908L187.03 186.76L186.956 186.704L187.16 186.5V186.76Z" fill="#FF8DF5"/>
							<path d="M330.577 66.1729L225.854 170.896H203.094V148.006L307.761 43.3572L330.577 66.1729Z" fill="#FF8DF5"/>
							<path d="M187.234 186.964L187.438 187.168H187.16V187.446L186.956 187.242L187.086 187.168L187.16 187.038L187.234 186.964Z" fill="#FF8DF5"/>
							<path d="M330.577 307.828L307.761 330.644L203.094 225.994V203.105H225.909L330.577 307.828Z" fill="#FF8DF5"/>
							<path d="M66.1683 43.3572L170.817 148.006V170.896H148.076L43.3525 66.1729L66.1683 43.3572Z" fill="#FF8DF5"/>
							<path d="M186.961 186.704L186.702 186.964L186.498 186.76H186.757V186.5L186.961 186.704Z" fill="#FF8DF5"/>
							<path d="M187.445 186.76L187.241 186.964L187.445 187.168H187.167V186.76H187.445Z" fill="#FF8DF5"/>
							<path d="M374 203.105H225.919L209.778 186.964L225.864 170.896H373.944L374 203.105Z" fill="#FF8DF5"/>
							<path d="M148.08 170.896L164.148 186.964L148.006 203.105H0V170.896H148.08Z" fill="#FF8DF5"/>
							<path d="M186.752 186.76V187.168H186.492L186.696 186.964L186.492 186.76H186.752Z" fill="#FF8DF5"/>
							</svg>
						</div>
					</div>
				</div>
			</section>

			<section class="">
				<div class="container">
					<div class="lines">	
						<div class="inpage-hero inpage-hero--center">	
							<div>
								<p class="h4 bullet">Why does it exist?</p>
								<h2 class="h2">Our vision is a world powered by sustainable energy</h2>
								<p>Low carbon, self-sustaining, fusion energy will provide a baseload of future-proof power. It will work with renewables to give us the energy the world needs. It will help us fight climate change while ensuring our way of life. And the UK will be a leader making it happen – from theory & science to technology & reality</p>
							</div>
						</div>	
					</div>	
				</div>
			</section>

			<section class="mod-partner-list bg-section--silver">
				<div class="container">	
					<div class="lines">	
						<div class="top-line"></div>

						<div class="mod-columns">
							<div class="mod-columns--column">
								<h2 class="h2 ivanim-fade">Our growing list of partners</h2>
							</div>
						</div>
						
						<div class="mod-columns">
							<div class="mod-columns--column">
								<div class="mod-partner-list__cta ivanim-fade">
									<p><a href="join-us.html" class="link">Join The Fusion Cluster</a></p>
									<p><a href="jobs.html" class="link">View Job Roles</a></p>
								</div>
							</div>
							<div class="mod-columns--column">
								<div class="mod-company-list wp-copy ivanim-fade">
									<ul>
										<li><a href="https://www.assystem.com" target="_blank">Assystem</a></li>
										<li><a href="https://www.atkinsglobal.com" target="_blank">Atkins</a></li>
										<li><a href="https://be4fusion.com/" target="_blank">Be4Fusion</a></li>
										<li><a href="https://www.gov.uk/government/organisations/environment-agency" target="_blank">Environment Agency</a></li>
										<li><a href="https://www.es.catapult.org.uk" target="_blank">Energy Systems Catapult</a></li>
										<li><a href="https://www.fnc.co.uk" target="_blank">Frazer Nash Consultancy</a></li>
										<li><a href="https://firstlightfusion.com/" target="_blank">First Light Fusion</a></li>
										<li><a href="https://www.fusionenergyinsights.com" target="_blank">Fusion Energy Insights</a></li>
										<li><a href="https://generalfusion.com/" target="_blank">General Fusion</a></li>
										<li><a href="https://www.harwellcampus.com/" target="_blank">Harwell Campus</a></li>
										<li><a href="https://jacobs.com/" target="_blank">Jacobs</a></li>
										<li><a href="https://www.johncaunt.com" target="_blank">JCS Nuclear Solutions</a></li>
										<li><a href="https://www.konecranes.com/industries/nuclear" target="_blank">Konecranes Demag</a></li>
										<li><a href="https://www.Fusion-for-Future.de" target="_blank">KBHF GmbH</a></li>
										<li><a href="https://www.magdrive.space" target="_blank">Magdrive</a></li>
										<li><a href="https://www.mottmac.com" target="_blank">Mott MacDonald Ltd</a></li>
										<li><a href="https://www.nuvia.com" target="_blank">Nuvia</a></li>
										<li><a href="https://namrc.co.uk/" target="_blank">Nuclear AMRC</a></li>
										<li><a href="https://oxfordscienceenterprises.com/" target="_blank">Oxford Science Enterprises</a></li>
										<li><a href="https://www.oxfordsigma.com" target="_blank">Oxford Sigma</a></li>
										<li><a href="https://www.prorsus.co.uk/" target="_blank">Prorsus</a></li>
										<li><a href="https://stellarator.energy/" target="_blank">Renaissance Fusion</a></li>
										<li><a href="https://www.tokamakenergy.co.uk/" target="_blank">Tokamak Energy</a></li>
										<li><a href="https://www.twi-global.com" target="_blank">TWI</a></li>
										<li><a href="https://www.gov.uk/government/organisations/uk-atomic-energy-authority" target="_blank">UKAEA</a></li>
										<li><a href="https://ukinnovationscienceseedfund.co.uk/" target="_blank">UKI2S</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="bg-section--silver">	
				<div class="container">	
					<div class="lines">	
						<div class="top-line"></div>
						
						<div class="mod-our-people js-anim-children--slidefade">
							<div class="mod-our-people--title">
								<h2 class="h3">Our People</h2>
							</div>
							<div class="mod-our-people--person">
								<div class="wp-copy">
									<figure>
										<img src="assets/media/images/content/Valerie-Jamieson.jpg" alt="Valerie Jamieson">
									</figure>
									<h4 class="h5">Valerie<br />Jamieson</h4>
									<p>Valerie is the director of The Fusion Cluster. She recently joined UKAEA in Oxfordshire after many years at New Scientist and has a PhD in particle physics.</p>
									<a href="" class="darkgrey" target="_blank">Linkedin</a>
								</div>
							</div>
							<div class="mod-our-people--person">
								<div class="wp-copy">
									<figure>
										<img src="assets/media/images/content/Tim-Bestwick.jpg" alt="Tim Bestwick">
									</figure>
									<h4 class="h5">Tim<br />Bestwick</h4>
									<p>Tim is chief technology officer and director of strategy, communications and business development at the UK Atomic Energy Authority. He chairs the advisory board.</p>
									<a href="" class="darkgrey" target="_blank">Linkedin</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section>	
				<div class="container">	
					<div class="lines lines--noleft lines--noright">	
						<div class="top-line"></div>
						
						<div class="mod-our-board js-anim-children--slidefade">
							<div class="mod-our-board--title">
								<h2 class="h3">Our board</h2>
							</div>
							<div class="mod-our-board--person">
								<div class="wp-copy">
									<h4 class="h5">Mike<br />Cappello</h4>
									<p>As senior vice president of prototype deployment, Cappello is managing the construction of General Fusion’s demonstration plant at Culham, Oxfordshire. </p>
									<a href="https://www.linkedin.com/in/michael-w-cappello-b12b4062/" class="darkgrey" target="_blank">Linkedin</a>
								</div>
							</div>
							<div class="mod-our-board--person">
								<div class="wp-copy">
									<h4 class="h5">Matt<br />Gallimore</h4>
									<p>Matt is chief sales officer at leading fusion engineering company Assystem. He also chairs the Nuclear Industry Association’s fusion working group.</p>
									<a href="https://www.linkedin.com/in/matthew-gallimore-b70a0112/" class="darkgrey" target="_blank">Linkedin</a>
								</div>
							</div>
							<div class="mod-our-board--person">
								<div class="wp-copy">
									<h4 class="h5">Barbara<br />Ghinelli </h4>
									<p>Barbara is Harwell Campus business development director at UKRI-STFC where she oversees the development and management of clusters on the Harwell and Daresbury campuses.</p>
									<a href="https://www.linkedin.com/in/barbara-ghinelli-899b3130/" class="darkgrey" target="_blank">Linkedin</a>
								</div>
							</div>
							<div class="mod-our-board--person">
								<div class="wp-copy">
									<h4 class="h5">Will<br />Goodlad</h4>
									<p>As a founding principal of Oxford Science Enterprises, he is responsible for investments in deep tech companies spun out of Oxford University including First Light Fusion.</p>
									<a href="https://oxfordscienceenterprises.com/team/" class="darkgrey" target="_blank">Linkedin</a>
								</div>
							</div>
							<div class="mod-our-board--person">
								<div class="wp-copy">
									<h4 class="h5">Alastair<br />Grundy</h4>
									<p>Alastair is head of business development at the UK Atomic Energy Authority.</p>
									<a href="https://www.linkedin.com/in/alastairgrundy/" class="darkgrey" target="_blank">Linkedin</a>
								</div>
							</div>
							<div class="mod-our-board--person">
								<div class="wp-copy">
									<h4 class="h5">Alastair<br />Grundy</h4>
									<p>Alastair is head of business development at the UK Atomic Energy Authority.</p>
									<a href="https://www.linkedin.com/in/alastairgrundy/" class="darkgrey" target="_blank">Linkedin</a>
								</div>
							</div>
							<div class="mod-our-board--person">
								<div class="wp-copy">
									<h4 class="h5">David<br />Gann</h4>
									<p>David is pro-vice chancellor of development and external affairs at the University of Oxford, professor of innovation and entrepreneurship at Saïd Business School, and chair of the UK Atomic Energy Authority. </p>
									<a href="https://www.linkedin.com/in/professor-david-gann-cbe-aaba057/" class="darkgrey" target="_blank">Linkedin</a>
								</div>
							</div>
							<div class="mod-our-board--person">
								<div class="wp-copy">
									<h4 class="h5">Angus<br />Horner</h4>
									<p>In 2009 Angus established Prorsus, a property development and investment company that supports the UK knowledge economy.</p>
									<a href="https://www.prorsus.co.uk/about.html" class="darkgrey" target="_blank">Linkedin</a>
								</div>
							</div>
							<div class="mod-our-board--person">
								<div class="wp-copy">
									<h4 class="h5">Antonia<br />Jenkinson</h4>
									<p>Among her roles as UKAEA’s chief financial officer, director of property and corporate services, Antonia is responsible for growing and developing the authority’s national innovation campuses.</p>
									<a href="https://www.linkedin.com/in/antonia-jenkinson-a0a57633/" class="darkgrey" target="_blank">Linkedin</a>
								</div>
							</div>
							<div class="mod-our-board--person">
								<div class="wp-copy">
									<h4 class="h5">Ross<br />Morgan</h4>
									<p>Ross joined leading fusion energy company Tokamak Energy in 2016 and is responsible for directing the company’s overall commercial and intellectual property strategy.</p>
									<a href="https://www.linkedin.com/in/ross-morgan-52120b20/" class="darkgrey" target="_blank">Linkedin</a>
								</div>
							</div>
							<div class="mod-our-board--person">
								<div class="wp-copy">
									<h4 class="h5">Gianluca<br />Pisanello</h4>
									<p>Gianluca is chief operating officer at First Light Fusion. The company’s new approach to fusion promises to be simpler, more energy efficient and has a lower physics risk.</p>
									<a href="https://www.linkedin.com/in/gianlucapisanello/" class="darkgrey" target="_blank">Linkedin</a>
								</div>
							</div>
							<div class="mod-our-board--person">
								<div class="wp-copy">
									<h4 class="h5">Robbie<br />Scott</h4>
									<p>Robbie is a senior plasma physicist at STFC's Rutherford Appleton Laboratory. He chairs the committee responsible for the UK inertial fusion roadmap 2021-2035.</p>
									<a href="https://www.linkedin.com/in/robbie-scott-99780510/" class="darkgrey" target="_blank">Linkedin</a>
								</div>
							</div>
							<div class="mod-our-board--person">
								<div class="wp-copy">
									<h4 class="h5">Mark<br />White</h4>
									<p>Mark is investment director and investment committee member of the UK Innovation & Science Seed Fund. He has over 20 years experience in investment with extensive periods in UK investment banking and emerging markets.</p>
									<a href="https://www.linkedin.com/in/mark-white-6020222/" class="darkgrey" target="_blank">Linkedin</a>
								</div>
							</div>
							<div class="mod-our-board--person">
								<div class="wp-copy">
									<h4 class="h5">Greg<br />Willetts</h4>
									<p>As vice president technology and cyber solutions at Jacobs, Greg  is responsible for a business with around 700 consultants who provide specialist services to a range of markets.</p>
									<a href="https://www.linkedin.com/in/greg-willetts-he-him-aa592614/" class="darkgrey" target="_blank">Linkedin</a>
								</div>
							</div>
							<div class="mod-our-board--person">
								<div class="wp-copy">
									<h4 class="h5">Melanie<br />Windridge</h4>
									<p>As founder of Fusion Energy Insights, Melanie helps fusion companies talk about their complex science and busy professionals understand the growing fusion energy industry.</p>
									<a href="https://www.linkedin.com/in/melanie-windridge-a1b12b56/" class="darkgrey" target="_blank">Linkedin</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
	
		</main>

		
		@@include('../partials/menu.html', {"home":"true"})
		@@include('../partials/footer.html', {"newsletter":"true"} )
	</div>
<script>
	window.jQuery || document.write('<script type="text/javascript" src="assets/js/vendors/jquery.js"><\/script>')
</script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@0.4.0/dist/lottie-player.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
