<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>The Fusion Cluster - Hub</title>
	<meta name="author" content="The Fusion Cluster">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">

	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/favicon/site.webmanifest">
	<!-- <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5"> -->
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="theme-color" content="#211e25">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body class="homepage">
	<div id="page">
		<a href="#content" class="screen-reader-text">Skip to content</a>

		@@include('../partials/header.html')


		<main>
			<section class="mod-hero-center bg-section--silver">
				<div class="container">
					<div class="lines">	
						<div class="bottom-line"></div>
						<div class="mod-hero-center__inner inpage-hero">
							<h2 class="h2 anim-title"><strong><span>Content Hub</h2>
							
							<div class="ivanim-fade d3">
								<p>Join a thriving community working to advance fusion energy in the UK. It’s free to join. </p>
								
								<div class="anchors">
									<a href="#news" class="cta">News</a>
									<a href="#events" class="cta">Upcoming Events</a>
									<a href="#downloads" class="cta">Reports & Documents</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="mod-news">	
				<div class="page-anchor" id="news"></div>
				<div class="container">	
					<div class="mod-news--title">
						<h2 class="h3">News</h2>
					</div>
					<div class="mod-news--articles">
						<div class="mod-news--article mod-news--article--featured">
							<a href="" class="wp-copy">
								<figure>
									<img src="assets/media/images/content/hub/featured.jpg" alt="">
								</figure>
								<div class="date tag">29th April 2022</div>
								<h3 class="h3">Do Pistol Shrimps Hold The Key To Nuclear Fusion?</h3>
								<div class="cta-tag tag">opinion</div>
							</a>
						</div>
						<div class="mod-news--article">
							<a href="" class="wp-copy">
								<figure>
									<img src="assets/media/images/content/hub/article1.jpg" alt="">
								</figure>
								<div class="date tag">15th April 2022</div>
								<h3 class="h3">First Light Fusion demonstrates world-first hypersonic “projectile fusion"</h3>
								<div class="cta-tag tag">partnership</div>
							</a>
						</div>
						<div class="mod-news--article">
							<a href="" class="wp-copy">
								<figure>
									<img src="assets/media/images/content/hub/article2.jpg" alt="">
								</figure>
								<div class="date tag">29th March 2022</div>
								<h3 class="h3">Nuclear fusion plant plan for Gloucestershire could be set by December</h3>
								<div class="cta-tag tag">partnership</div>
							</a>
						</div>
						<div class="mod-news--article">
							<a href="" class="wp-copy">
								<figure>
									<img src="assets/media/images/content/hub/article3.jpg" alt="">
								</figure>
								<div class="date tag">23rd March 2022</div>
								<h3 class="h3">Nuclear fusion: Inside the construction of the world’s largest tokamak</h3>
								<div class="cta-tag tag">insider</div>
							</a>
						</div>
						<div class="mod-news--article">
							<a href="" class="wp-copy">
								<figure>
									<img src="assets/media/images/content/hub/article4.jpg" alt="">
								</figure>
								<div class="date tag">15th March 2022</div>
								<h3 class="h3">Stronger Nuclear Fusion Materials Potential Thanks to Photos of a Tiny Aluminum Crystal</h3>
								<div class="cta-tag tag">news</div>
							</a>
						</div>
						<div class="mod-news--article">
							<a href="" class="wp-copy">
								<figure>
									<img src="assets/media/images/content/hub/article5.jpg" alt="">
								</figure>
								<div class="date tag">3rd March 2022</div>
								<h3 class="h3">Oxford scientists leap ahead in race to harness nuclear fusion</h3>
								<div class="cta-tag tag">our partners</div>
							</a>
						</div>
						<div class="mod-news--article">
							<a href="" class="wp-copy">
								<figure>
									<img src="assets/media/images/content/hub/article1.jpg" alt="">
								</figure>
								<div class="date tag">28th February 2022</div>
								<h3 class="h3">Nuclear fusion: why the race to harness the power of the sun just sped up</h3>
								<div class="cta-tag tag">educational</div>
							</a>
						</div>
					</div>
					<div class="mod-news--more">
						<a href="" class="cta-more">Load more</a>
					</div>
				</div>
			</section>


			<section class="mod-events bg-section--silver">	
				<div class="page-anchor" id="events"></div>
				<div class="container">	
					<div class="mod-events--title">
						<h2 class="h3">Upcoming Events</h2>
					</div>
					<div class="mod-events--articles">
						<a href="" class="mod-events--article">
							<div class="mod-events--article--title">
								<p>Women in Science</p>
							</div>
							<div class="mod-events--article--date">
								<p>19.07.22</p>
								<p>18:30 — 20:00 </p>
							</div>
							<div class="mod-events--article--address">
								<p>University of Bristol<br />
								Fry Building</p>
							</div>
							<div class="mod-events--article--link">
								<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.0225 1.6496L0.682362 13L4.15209e-07 12.3187L11.3573 0.951049L1.00239 0.951037L1.00239 -1.23246e-05L12.2982 -3.06776e-08L12.3098 -3.01694e-08L12.9922 0.681343L13 0.688259L13 0.700773L13 11.658L12.0225 11.658L12.0225 1.6496Z" class="fill" />
									<path d="M12.0225 1.6496L0.682362 13L4.15209e-07 12.3187L11.3573 0.951049L1.00239 0.951037L1.00239 -1.23246e-05L12.2982 -3.06776e-08L12.3098 -3.01694e-08L12.9922 0.681343L13 0.688259L13 0.700773L13 11.658L12.0225 11.658L12.0225 1.6496Z" class="stroke" />
								</svg>
							</div>	
						</a>

						<a href="" class="mod-events--article">
							<div class="mod-events--article--title">
								<p>Fusion: 100 Years In The Making</p>
							</div>
							<div class="mod-events--article--date">
								<p>14.09.22</p>
							</div>
							<div class="mod-events--article--address">
								<p>Birmingham<br />
								O2 Arena</p>
							</div>
							<div class="mod-events--article--time">
								<p>19:30 — 21:00 </p>
							</div>
							<div class="mod-events--article--link">
								<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.0225 1.6496L0.682362 13L4.15209e-07 12.3187L11.3573 0.951049L1.00239 0.951037L1.00239 -1.23246e-05L12.2982 -3.06776e-08L12.3098 -3.01694e-08L12.9922 0.681343L13 0.688259L13 0.700773L13 11.658L12.0225 11.658L12.0225 1.6496Z" class="fill" />
									<path d="M12.0225 1.6496L0.682362 13L4.15209e-07 12.3187L11.3573 0.951049L1.00239 0.951037L1.00239 -1.23246e-05L12.2982 -3.06776e-08L12.3098 -3.01694e-08L12.9922 0.681343L13 0.688259L13 0.700773L13 11.658L12.0225 11.658L12.0225 1.6496Z" class="stroke" />
								</svg>
							</div>	
						</a>
						<a href="" class="mod-events--article">
							<div class="mod-events--article--title">
								<p>Fusion 2023</p>
							</div>
							<div class="mod-events--article--date">
								<p>Date TBC</p>
							</div>
							<div class="mod-events--article--address">
								<p>London<br />
								Barbican Centre</p>
							</div>
							<div class="mod-events--article--time">
								<p>18:00 — 20:30 </p>
							</div>
							<div class="mod-events--article--link">
								<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12.0225 1.6496L0.682362 13L4.15209e-07 12.3187L11.3573 0.951049L1.00239 0.951037L1.00239 -1.23246e-05L12.2982 -3.06776e-08L12.3098 -3.01694e-08L12.9922 0.681343L13 0.688259L13 0.700773L13 11.658L12.0225 11.658L12.0225 1.6496Z" class="fill" />
									<path d="M12.0225 1.6496L0.682362 13L4.15209e-07 12.3187L11.3573 0.951049L1.00239 0.951037L1.00239 -1.23246e-05L12.2982 -3.06776e-08L12.3098 -3.01694e-08L12.9922 0.681343L13 0.688259L13 0.700773L13 11.658L12.0225 11.658L12.0225 1.6496Z" class="stroke" />
								</svg>
							</div>	
						</a>
					</div>
					<div class="mod-events--more">
						<a href="" class="cta-more">Load more</a>
					</div>
				</div>
			</section>

			<section class="mod-downloads">	
				<div class="page-anchor" id="downloads"></div>
				<div class="container">	
					<div class="mod-downloads--title">
						<h2 class="h3">Reports & Documents</h2>
						<p>Resources for anyone from xx to xx. </p>
					</div>
					<div class="mod-downloads--articles">
						<div class="mod-downloads--article">
							<div>
								<div class="mod-downloads--article--icon">
									<svg width="137" height="137" viewBox="0 0 137 137" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M73.9618 82.2832V136.151H62.208V82.2562L68.0849 76.4062L73.9618 82.2832Z" fill="#FF8DF5"/>
									<path d="M73.9618 0V53.8885L68.0849 59.7654L62.208 53.8885V0H73.9618Z" fill="#FF8DF5"/>
									<path d="M53.8884 73.9495H62.1955V82.2566L24.0932 120.366L15.7861 112.059L53.8884 73.9495Z" fill="#FF8DF5"/>
									<path d="M120.36 24.0935L82.2313 62.2227H73.9443V53.8887L112.053 15.7864L120.36 24.0935Z" fill="#FF8DF5"/>
									<path d="M120.36 112.079L112.053 120.386L73.9443 82.2835V73.9495H82.2514L120.36 112.079Z" fill="#FF8DF5"/>
									<path d="M24.0845 15.7864L62.1868 53.8887V62.2227H53.9066L15.7773 24.0935L24.0845 15.7864Z" fill="#FF8DF5"/>
									<path d="M136.169 73.9493H82.2539L76.377 68.0724L82.2337 62.2224H136.149L136.169 73.9493Z" fill="#FF8DF5"/>
									<path d="M53.9154 62.2224L59.7654 68.0724L53.8885 73.9493H0V62.2224H53.9154Z" fill="#FF8DF5"/>
									</svg>
								</div>
								<div class="mod-downloads--article--title">
									<div class="tag date">23rd Mar 2022</div>
									<h3 class="h4">Fusion Energy</h3>
									<p>Regulatory Horizons Council</p>
								</div>
								<div class="mod-downloads--article--cta">
									<a href="" class="cta-download">Download</a>
								</div>
							</div>
						</div>
						<div class="mod-downloads--article">
							<div>
								<div class="mod-downloads--article--icon">
									<svg width="137" height="137" viewBox="0 0 137 137" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M73.9618 82.2832V136.151H62.208V82.2562L68.0849 76.4062L73.9618 82.2832Z" fill="#FF8DF5"/>
									<path d="M73.9618 0V53.8885L68.0849 59.7654L62.208 53.8885V0H73.9618Z" fill="#FF8DF5"/>
									<path d="M53.8884 73.9495H62.1955V82.2566L24.0932 120.366L15.7861 112.059L53.8884 73.9495Z" fill="#FF8DF5"/>
									<path d="M120.36 24.0935L82.2313 62.2227H73.9443V53.8887L112.053 15.7864L120.36 24.0935Z" fill="#FF8DF5"/>
									<path d="M120.36 112.079L112.053 120.386L73.9443 82.2835V73.9495H82.2514L120.36 112.079Z" fill="#FF8DF5"/>
									<path d="M24.0845 15.7864L62.1868 53.8887V62.2227H53.9066L15.7773 24.0935L24.0845 15.7864Z" fill="#FF8DF5"/>
									<path d="M136.169 73.9493H82.2539L76.377 68.0724L82.2337 62.2224H136.149L136.169 73.9493Z" fill="#FF8DF5"/>
									<path d="M53.9154 62.2224L59.7654 68.0724L53.8885 73.9493H0V62.2224H53.9154Z" fill="#FF8DF5"/>
									</svg>
								</div>
								<div class="mod-downloads--article--title">
									<div class="tag date">11 Nov 2021</div>
									<h3 class="h4">ITER - The Way<br />To New Energy</h3>
									<p>ITER</p>
								</div>
								<div class="mod-downloads--article--cta">
									<a href="" class="cta-download">Download</a>
								</div>
							</div>
						</div>
						<div class="mod-downloads--article">
							<div>
								<div class="mod-downloads--article--icon">
									<svg width="137" height="137" viewBox="0 0 137 137" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M73.9618 82.2832V136.151H62.208V82.2562L68.0849 76.4062L73.9618 82.2832Z" fill="#FF8DF5"/>
									<path d="M73.9618 0V53.8885L68.0849 59.7654L62.208 53.8885V0H73.9618Z" fill="#FF8DF5"/>
									<path d="M53.8884 73.9495H62.1955V82.2566L24.0932 120.366L15.7861 112.059L53.8884 73.9495Z" fill="#FF8DF5"/>
									<path d="M120.36 24.0935L82.2313 62.2227H73.9443V53.8887L112.053 15.7864L120.36 24.0935Z" fill="#FF8DF5"/>
									<path d="M120.36 112.079L112.053 120.386L73.9443 82.2835V73.9495H82.2514L120.36 112.079Z" fill="#FF8DF5"/>
									<path d="M24.0845 15.7864L62.1868 53.8887V62.2227H53.9066L15.7773 24.0935L24.0845 15.7864Z" fill="#FF8DF5"/>
									<path d="M136.169 73.9493H82.2539L76.377 68.0724L82.2337 62.2224H136.149L136.169 73.9493Z" fill="#FF8DF5"/>
									<path d="M53.9154 62.2224L59.7654 68.0724L53.8885 73.9493H0V62.2224H53.9154Z" fill="#FF8DF5"/>
									</svg>
								</div>
								<div class="mod-downloads--article--title">
									<div class="tag date">23rd Mar 2022</div>
									<h3 class="h4">An Introduction <br />Into Fusion Energy</h3>
									<p>Science Museum London</p>
								</div>
								<div class="mod-downloads--article--cta">
									<a href="" class="cta-download">Download</a>
								</div>
							</div>
						</div>
						<div class="mod-downloads--article">
							<div>
								<div class="mod-downloads--article--icon">
									<svg width="137" height="137" viewBox="0 0 137 137" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M73.9618 82.2832V136.151H62.208V82.2562L68.0849 76.4062L73.9618 82.2832Z" fill="#FF8DF5"/>
									<path d="M73.9618 0V53.8885L68.0849 59.7654L62.208 53.8885V0H73.9618Z" fill="#FF8DF5"/>
									<path d="M53.8884 73.9495H62.1955V82.2566L24.0932 120.366L15.7861 112.059L53.8884 73.9495Z" fill="#FF8DF5"/>
									<path d="M120.36 24.0935L82.2313 62.2227H73.9443V53.8887L112.053 15.7864L120.36 24.0935Z" fill="#FF8DF5"/>
									<path d="M120.36 112.079L112.053 120.386L73.9443 82.2835V73.9495H82.2514L120.36 112.079Z" fill="#FF8DF5"/>
									<path d="M24.0845 15.7864L62.1868 53.8887V62.2227H53.9066L15.7773 24.0935L24.0845 15.7864Z" fill="#FF8DF5"/>
									<path d="M136.169 73.9493H82.2539L76.377 68.0724L82.2337 62.2224H136.149L136.169 73.9493Z" fill="#FF8DF5"/>
									<path d="M53.9154 62.2224L59.7654 68.0724L53.8885 73.9493H0V62.2224H53.9154Z" fill="#FF8DF5"/>
									</svg>
								</div>
								<div class="mod-downloads--article--title">
									<div class="tag date">11 Nov 2021</div>
									<h3 class="h4">ITER - The Way <br />To New Energy</h3>
									<p>ITER</p>
								</div>
								<div class="mod-downloads--article--cta">
									<a href="" class="cta-download">Download</a>
								</div>
							</div>
						</div>
						<div class="mod-downloads--article">
							<div>
								<div class="mod-downloads--article--icon">
									<svg width="137" height="137" viewBox="0 0 137 137" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M73.9618 82.2832V136.151H62.208V82.2562L68.0849 76.4062L73.9618 82.2832Z" fill="#FF8DF5"/>
									<path d="M73.9618 0V53.8885L68.0849 59.7654L62.208 53.8885V0H73.9618Z" fill="#FF8DF5"/>
									<path d="M53.8884 73.9495H62.1955V82.2566L24.0932 120.366L15.7861 112.059L53.8884 73.9495Z" fill="#FF8DF5"/>
									<path d="M120.36 24.0935L82.2313 62.2227H73.9443V53.8887L112.053 15.7864L120.36 24.0935Z" fill="#FF8DF5"/>
									<path d="M120.36 112.079L112.053 120.386L73.9443 82.2835V73.9495H82.2514L120.36 112.079Z" fill="#FF8DF5"/>
									<path d="M24.0845 15.7864L62.1868 53.8887V62.2227H53.9066L15.7773 24.0935L24.0845 15.7864Z" fill="#FF8DF5"/>
									<path d="M136.169 73.9493H82.2539L76.377 68.0724L82.2337 62.2224H136.149L136.169 73.9493Z" fill="#FF8DF5"/>
									<path d="M53.9154 62.2224L59.7654 68.0724L53.8885 73.9493H0V62.2224H53.9154Z" fill="#FF8DF5"/>
									</svg>
								</div>
								<div class="mod-downloads--article--title">
									<div class="tag date">23rd Mar 2022</div>
									<h3 class="h4">Report on <br />Fusion Energy</h3>
									<p>Regulatory Horizons Council</p>
								</div>
								<div class="mod-downloads--article--cta">
									<a href="" class="cta-download">Download</a>
								</div>
							</div>
						</div>
						<div class="mod-downloads--article">
							<div>
								<div class="mod-downloads--article--icon">
									<svg width="137" height="137" viewBox="0 0 137 137" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M73.9618 82.2832V136.151H62.208V82.2562L68.0849 76.4062L73.9618 82.2832Z" fill="#FF8DF5"/>
									<path d="M73.9618 0V53.8885L68.0849 59.7654L62.208 53.8885V0H73.9618Z" fill="#FF8DF5"/>
									<path d="M53.8884 73.9495H62.1955V82.2566L24.0932 120.366L15.7861 112.059L53.8884 73.9495Z" fill="#FF8DF5"/>
									<path d="M120.36 24.0935L82.2313 62.2227H73.9443V53.8887L112.053 15.7864L120.36 24.0935Z" fill="#FF8DF5"/>
									<path d="M120.36 112.079L112.053 120.386L73.9443 82.2835V73.9495H82.2514L120.36 112.079Z" fill="#FF8DF5"/>
									<path d="M24.0845 15.7864L62.1868 53.8887V62.2227H53.9066L15.7773 24.0935L24.0845 15.7864Z" fill="#FF8DF5"/>
									<path d="M136.169 73.9493H82.2539L76.377 68.0724L82.2337 62.2224H136.149L136.169 73.9493Z" fill="#FF8DF5"/>
									<path d="M53.9154 62.2224L59.7654 68.0724L53.8885 73.9493H0V62.2224H53.9154Z" fill="#FF8DF5"/>
									</svg>
								</div>
								<div class="mod-downloads--article--title">
									<div class="tag date">23rd Mar 2022</div>
									<h3 class="h4">An Introduction <br />Into Fusion Energy</h3>
									<p>Science Museum London</p>
								</div>
								<div class="mod-downloads--article--cta">
									<a href="" class="cta-download">Download</a>
								</div>
							</div>
						</div>
					</div>
					<div class="mod-downloads--more">
						<a href="" class="cta-more">Load more</a>
					</div>
				</div>
			</section>
	
		</main>

		
		@@include('../partials/menu.html', {"home":"true"})
		@@include('../partials/footer.html', {"newsletter":"true"} )
	</div>
<script>
	window.jQuery || document.write('<script type="text/javascript" src="assets/js/vendors/jquery.js"><\/script>')
</script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@0.4.0/dist/lottie-player.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
