<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>The Fusion Cluster - Jobs</title>
	<meta name="author" content="The Fusion Cluster">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">

	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/favicon/site.webmanifest">
	<!-- <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5"> -->
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="theme-color" content="#211e25">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body class="homepage">
	<div id="page">
		<a href="#content" class="screen-reader-text">Skip to content</a>

		@@include('../partials/header.html')


		<main>
			<section class="mod-hero-center bg-section--silver">
				<div class="container">
					<div class="lines">	
						<div class="bottom-line"></div>
						<div class="mod-hero-center__inner inpage-hero">
							<p class="h3 ivanim-fade">Working in fusion</p>
							<h2 class="h2 anim-title"><strong><span>Job Roles</span></strong></h2>
							
							<div class="ivanim-fade d3">
								<p>From scientists to designers, we need a diverse set of skillsets to achive fusion faster.</p>
							</div>
						</div>
					</div>
				</div>
			</section>


			<section class="mod-vacancies">	
				<div class="container">	
					<div class="mod-vacancies--title">
						<h2 class="h3">Current Vacancies</h2>
					</div>
					<div class="mod-vacancies--list">
						<div class="mod-vacancies--vacancy">
							<a href="" class="wp-copy">
								<h3 class="h3">Head of Operations - Fusion Technology</h3>
								<p>UK Atomic Energy Authority</p>
								<div class="meta">
									<div class="tag">Full-time</div>
									<div class="tag">Oxfordshire, UK</div>
								</div>
							</a>
						</div>
						<div class="mod-vacancies--vacancy">
							<a href="" class="wp-copy">
								<h3 class="h3">Equality, Diversity and Inclusion Partner</h3>
								<p>First Light Fusion</p>
								<div class="meta">
									<div class="tag">Full-time</div>
									<div class="tag">Oxfordshire, UK</div>
								</div>
							</a>
						</div>
						<div class="mod-vacancies--vacancy">
							<a href="" class="wp-copy">
								<h3 class="h3">Year in Industry – Student Software Engineer</h3>
								<p>Jacobs</p>
								<div class="meta">
									<div class="tag">Full-time</div>
									<div class="tag">Dallas, USA</div>
								</div>
							</a>
						</div>
						<div class="mod-vacancies--vacancy">
							<a href="" class="wp-copy">
								<h3 class="h3">Mechanical Design Engineer</h3>
								<p>UK Atomic Energy Authority</p>
								<div class="meta">
									<div class="tag">Full-time</div>
									<div class="tag">Oxfordshire, UK</div>
								</div>
							</a>
						</div>
						<div class="mod-vacancies--vacancy">
							<a href="" class="wp-copy">
								<h3 class="h3">Assistant Procurement Manager</h3>
								<p>Assystems</p>
								<div class="meta">
									<div class="tag">Full-time</div>
									<div class="tag">London, UK</div>
								</div>
							</a>
						</div>
						<div class="mod-vacancies--vacancy">
							<a href="" class="wp-copy">
								<h3 class="h3">Head of Operations - Fusion Technology</h3>
								<p>UK Atomic Energy Authority</p>
								<div class="meta">
									<div class="tag">Full-time</div>
									<div class="tag">Oxfordshire, UK</div>
								</div>
							</a>
						</div>
						<div class="mod-vacancies--vacancy">
							<a href="" class="wp-copy">
								<h3 class="h3">Equality, Diversity and Inclusion Partner</h3>
								<p>First Light Fusion</p>
								<div class="meta">
									<div class="tag">Full-time</div>
									<div class="tag">Oxfordshire, UK</div>
								</div>
							</a>
						</div>
						<div class="mod-vacancies--vacancy">
							<a href="" class="wp-copy">
								<h3 class="h3">Year in Industry – Student Software Engineer</h3>
								<p>Jacobs</p>
								<div class="meta">
									<div class="tag">Full-time</div>
									<div class="tag">Dallas, USA</div>
								</div>
							</a>
						</div>
						<div class="mod-vacancies--vacancy">
							<a href="" class="wp-copy">
								<h3 class="h3">Mechanical Design Engineer</h3>
								<p>UK Atomic Energy Authority</p>
								<div class="meta">
									<div class="tag">Full-time</div>
									<div class="tag">Oxfordshire, UK</div>
								</div>
							</a>
						</div>
						<div class="mod-vacancies--vacancy">
							<a href="" class="wp-copy">
								<h3 class="h3">Assistant Procurement Manager</h3>
								<p>Assystems</p>
								<div class="meta">
									<div class="tag">Full-time</div>
									<div class="tag">London, UK</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>


			<section class="mod-roles">	
				<div class="container">	
					<div class="mod-roles--title">
						<h2 class="h3">Roles</h2>
					</div>
					<div class="mod-roles--articles">
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">operations</div>
								<h3 class="h3">Head of Operations</h3>
								<p>Leading and managing scientific / engineering teams coupled with solid experience of management of engineering projects and procurements. Build collaborations and communicate with people at all levels is essential to succeed in this role.</p>
							</a>
						</div>
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">operations</div>
								<h3 class="h3">Learning & Development Partner</h3>
								<p>Conducting technical research, use software to plan and design mechanical systems, develop prototypes, and conduct tests on a variety of mechanical machines, such as industrial equipment, robotics, and appliances, among others.</p>
							</a>
						</div>
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">engineering</div>
								<h3 class="h3">Mechanical Design Engineer</h3>
								<p>Conducting technical research, use software to plan and design mechanical systems, develop prototypes, and conduct tests on a variety of mechanical machines, such as industrial equipment, robotics, and appliances, among others.</p>
							</a>
						</div>
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">operations</div>
								<h3 class="h3">Head of Operations</h3>
								<p>Leading and managing scientific / engineering teams coupled with solid experience of management of engineering projects and procurements. Build collaborations and communicate with people at all levels is essential to succeed in this role.</p>
							</a>
						</div>
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">operations</div>
								<h3 class="h3">Learning & Development Partner</h3>
								<p>Conducting technical research, use software to plan and design mechanical systems, develop prototypes, and conduct tests on a variety of mechanical machines, such as industrial equipment, robotics, and appliances, among others.</p>
							</a>
						</div>
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">engineering</div>
								<h3 class="h3">Mechanical Design Engineer</h3>
								<p>Conducting technical research, use software to plan and design mechanical systems, develop prototypes, and conduct tests on a variety of mechanical machines, such as industrial equipment, robotics, and appliances, among others.</p>
							</a>
						</div>
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">operations</div>
								<h3 class="h3">Head of Operations</h3>
								<p>Leading and managing scientific / engineering teams coupled with solid experience of management of engineering projects and procurements. Build collaborations and communicate with people at all levels is essential to succeed in this role.</p>
							</a>
						</div>
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">operations</div>
								<h3 class="h3">Learning & Development Partner</h3>
								<p>Conducting technical research, use software to plan and design mechanical systems, develop prototypes, and conduct tests on a variety of mechanical machines, such as industrial equipment, robotics, and appliances, among others.</p>
							</a>
						</div>
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">engineering</div>
								<h3 class="h3">Mechanical Design Engineer</h3>
								<p>Conducting technical research, use software to plan and design mechanical systems, develop prototypes, and conduct tests on a variety of mechanical machines, such as industrial equipment, robotics, and appliances, among others.</p>
							</a>
						</div>
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">operations</div>
								<h3 class="h3">Head of Operations</h3>
								<p>Leading and managing scientific / engineering teams coupled with solid experience of management of engineering projects and procurements. Build collaborations and communicate with people at all levels is essential to succeed in this role.</p>
							</a>
						</div>
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">operations</div>
								<h3 class="h3">Learning & Development Partner</h3>
								<p>Conducting technical research, use software to plan and design mechanical systems, develop prototypes, and conduct tests on a variety of mechanical machines, such as industrial equipment, robotics, and appliances, among others.</p>
							</a>
						</div>
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">engineering</div>
								<h3 class="h3">Mechanical Design Engineer</h3>
								<p>Conducting technical research, use software to plan and design mechanical systems, develop prototypes, and conduct tests on a variety of mechanical machines, such as industrial equipment, robotics, and appliances, among others.</p>
							</a>
						</div>
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">operations</div>
								<h3 class="h3">Head of Operations</h3>
								<p>Leading and managing scientific / engineering teams coupled with solid experience of management of engineering projects and procurements. Build collaborations and communicate with people at all levels is essential to succeed in this role.</p>
							</a>
						</div>
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">operations</div>
								<h3 class="h3">Learning & Development Partner</h3>
								<p>Conducting technical research, use software to plan and design mechanical systems, develop prototypes, and conduct tests on a variety of mechanical machines, such as industrial equipment, robotics, and appliances, among others.</p>
							</a>
						</div>
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">engineering</div>
								<h3 class="h3">Mechanical Design Engineer</h3>
								<p>Conducting technical research, use software to plan and design mechanical systems, develop prototypes, and conduct tests on a variety of mechanical machines, such as industrial equipment, robotics, and appliances, among others.</p>
							</a>
						</div>
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">operations</div>
								<h3 class="h3">Head of Operations</h3>
								<p>Leading and managing scientific / engineering teams coupled with solid experience of management of engineering projects and procurements. Build collaborations and communicate with people at all levels is essential to succeed in this role.</p>
							</a>
						</div>
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">operations</div>
								<h3 class="h3">Learning & Development Partner</h3>
								<p>Conducting technical research, use software to plan and design mechanical systems, develop prototypes, and conduct tests on a variety of mechanical machines, such as industrial equipment, robotics, and appliances, among others.</p>
							</a>
						</div>
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">engineering</div>
								<h3 class="h3">Mechanical Design Engineer</h3>
								<p>Conducting technical research, use software to plan and design mechanical systems, develop prototypes, and conduct tests on a variety of mechanical machines, such as industrial equipment, robotics, and appliances, among others.</p>
							</a>
						</div>
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">operations</div>
								<h3 class="h3">Head of Operations</h3>
								<p>Leading and managing scientific / engineering teams coupled with solid experience of management of engineering projects and procurements. Build collaborations and communicate with people at all levels is essential to succeed in this role.</p>
							</a>
						</div>
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">operations</div>
								<h3 class="h3">Learning & Development Partner</h3>
								<p>Conducting technical research, use software to plan and design mechanical systems, develop prototypes, and conduct tests on a variety of mechanical machines, such as industrial equipment, robotics, and appliances, among others.</p>
							</a>
						</div>
						<div class="mod-roles--role">
							<a href="" class="wp-copy">
								<div class="cta-tag tag">engineering</div>
								<h3 class="h3">Mechanical Design Engineer</h3>
								<p>Conducting technical research, use software to plan and design mechanical systems, develop prototypes, and conduct tests on a variety of mechanical machines, such as industrial equipment, robotics, and appliances, among others.</p>
							</a>
						</div>
					</div>
				</div>
			</section>


				
		</main>

		
		@@include('../partials/menu.html', {"home":"true"})
		@@include('../partials/footer.html', {"newsletter":"true"} )
	</div>
<script>
	window.jQuery || document.write('<script type="text/javascript" src="assets/js/vendors/jquery.js"><\/script>')
</script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@0.4.0/dist/lottie-player.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
