<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>The Fusion Cluster - Contact</title>
	<meta name="author" content="The Fusion Cluster">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">

	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/favicon/site.webmanifest">
	<!-- <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5"> -->
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="theme-color" content="#211e25">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body class="homepage">
	<div id="page">
		<a href="#content" class="screen-reader-text">Skip to content</a>

		@@include('../partials/header.html')


		<main>
			<section class="mod-hero-center bg-section--silver">
				<div class="container">
					<div class="lines">	
						<!-- <div class="bottom-line"></div> -->
						<div class="mod-hero-center__inner inpage-hero">
							<p class="h3 ivanim-fade">For all enquiries</p>
							<h2 class="h2 ivanim-fade d2">hello@thefusioncluster.com</h2>
						</div>
					</div>
				</div>
			</section>

			<section class="">	
				<div class="container">	
					<div class="mod-columns">
						<div class="mod-columns--column">
							<div class="lines lines--noright">	
								<div class="top-line"></div>

								<div class="mod-columns--content">
									<div class="wp-copy innerPadding innerPaddingVertical ivanim-slidefade">
										<div class="h4">Media Assets</div>
										<p>Need assets for X and Y? We’ve got you covered. If you can’t find what you’re looking for, get in contact with us.  </p>
										<a href="#" class="cta-download">Press kit coming soon</a>
									</div>
								</div>
							</div>
						</div>
						<div class="mod-columns--column">
							<div class="lines">	
								<div class="top-line"></div>
								<div class="left-line"></div>

								<div class="mod-columns--content">
									<div class="wp-copy innerPadding innerPaddingVertical ivanim-slidefade d1">
										<div class="h4">PR Contact</div>
										<p><strong>Valerie Jamieson</strong><br />
										Manager of The Fusion Cluster</p>
										<a href="mailto:hello@thefusioncluster.com" class="cta-pink">Email</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		
	
		</main>

		
		@@include('../partials/menu.html', {"home":"true"})
		@@include('../partials/footer.html', {"newsletter":"false"} )
	</div>
<script>
	window.jQuery || document.write('<script type="text/javascript" src="assets/js/vendors/jquery.js"><\/script>')
</script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@0.4.0/dist/lottie-player.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
