<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>The Fusion Cluster - About Fusion</title>
	<meta name="author" content="The Fusion Cluster">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">

	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/favicon/site.webmanifest">
	<!-- <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5"> -->
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="theme-color" content="#211e25">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter&family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body class="homepage">
	<div id="page">
		<a href="#content" class="screen-reader-text">Skip to content</a>

		@@include('../partials/header.html')


		<main>
			<section class="mod-about-hero">
				<div class="container">
					<div class="lines">	
						<div class="mod-about-hero__inner inpage-hero">
							<p class="h4 ivanim-fade">What is fusion?</p>
							<h2 class="h2 anim-title"><strong><span>Fusion is the reaction</span></strong> <strong><span>which powers the sun</span></strong> <strong><span>and all other stars</span></strong></h2>
							<div class="ivanim-fade d3">
								<p>And now we’re working to harness it on Earth, to create a world powered by clean, limitless energy for all.</p>
							</div>
						</div>
						<div class="mod-about-hero__animation">
							<svg width="252" height="373" viewBox="0 0 252 373" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="62" cy="31" r="31" fill="#FF8DF5"/>
							<circle cx="221" cy="158" r="31" fill="#FF8DF5"/>
							<circle cx="132" cy="214" r="31" fill="#FF8DF5"/>
							<circle cx="198" cy="304" r="31" fill="#FF8DF5"/>
							<circle cx="31" cy="342" r="31" fill="#FF8DF5"/>
							</svg>

						</div>
					</div>
				</div>
			</section>

			<section class="bg-section--silver">	
				<div class="container">	
					<div class="mod-columns">
						<div class="mod-columns--column">
							<div class="lines lines--noright">	
								<div class="top-line"></div>
								<!-- <div class="bottom-line"></div> -->
								
								<div class="mod-home-join__perks">
									<div class="mod-columns--content">
										<h3 class="h3">How does it work?</h3>
										<p>Fusion is a potential form of power generation that uses the energy released by forcing together lightweight atoms until they fuse together into heavier atoms. It’s the same reaction that powers stars.</p>
										<p>Fusion requires extreme temperatures and pressure to occur but it produces more energy per gram of fuel than any other fuel source on the planet.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="mod-columns--column">
							<div class="lines">	
								<div class="top-line"></div>
								<!-- <div class="bottom-line"></div> -->
								<div class="left-line"></div>
								
								<div class="mod-home-join__media ivanim-fade">
									<img src="assets/media/images/content/about-fusion1.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="bg-section--silver">	
				<div class="container">	
					<div class="mod-columns">
						<div class="mod-columns--column order-2">
							<div class="lines">	
								<div class="top-line"></div>
								<div class="bottom-line"></div>
								
								<div class="mod-home-join__perks">
									<div class="mod-columns--content">
										<h3 class="h3">How does it work?</h3>
										<p>Fusion is a potential form of power generation that uses the energy released by forcing together lightweight atoms until they fuse together into heavier atoms. It’s the same reaction that powers stars.</p>
										<p>Fusion requires extreme temperatures and pressure to occur but it produces more energy per gram of fuel than any other fuel source on the planet.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="mod-columns--column order-1">
							<div class="lines lines--noright">	
								<div class="top-line"></div>
								<div class="bottom-line"></div>
								<div class="left-line"></div>
								
								<div class="mod-home-join__media ivanim-fade">
									<img src="assets/media/images/content/about-fusion2.jpg" alt="">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="">
				<div class="container">	
					<div class="inpage-hero inpage-hero--center">	
						<p class="h4 bullet ivanim-fade">When will it be possible?</p>
						<h2 class="h2 anim-title"><strong><span>Fusion won’t be</span></strong> <strong><span>immediate</span></strong></h2>
						<div class="ivanim-fade">
							<p>There are still challenges to overcome – but for the first time practical fusion is within our reach. Addressing these challenges has led to innovative new approaches to fusion.</p>
							<p>Fusion powerplants will work with renewables to give us the energy the world needs. Clean, safe and abundant energy, anywhere in the world. Fusion energy will help us fight climate change while ensuring our way of life.</p>
							<a href="" class="cta-pink">Join the cluster</a>
						</div>
					</div>
				</div>
			</section>


			<section class="bg-section--silver">
				<div class="container">	
					<div class="mod-columns mod-timeline">
						<div class="mod-columns--column">
							<div class="mod-timeline--title innerPaddingVertical">
								<h2 class="h3">The history</h2>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
							</div>
						</div>
						<div class="mod-columns--column innerPaddingVertical">
							
							<div class="mod-accordions">
								<!-- accordion -->
								<div class="mod-accordion">
									<div class="mod-accordion__toggle">
										<h3 class="h2">1920 — 1930</h3>
										<p class="h3">Understanding the stars and the atom</p>
										<div class="icon">
											@@include('../partials/expend-icon.html')
										</div>
									</div>
									<div class="mod-accordion__content">
										<div class="wp-copy">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
										</div>
									</div>
								</div>

								<!-- accordion -->
								<div class="mod-accordion">
									<div class="mod-accordion__toggle">
										<h3 class="h2">1950s</h3>
										<p class="h3">Enter the fusion machines</p>
										<div class="icon">
											@@include('../partials/expend-icon.html')
										</div>
									</div>
									<div class="mod-accordion__content">
										<div class="wp-copy">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
										</div>
									</div>
								</div>

								<!-- accordion -->
								<div class="mod-accordion">
									<div class="mod-accordion__toggle">
										<h3 class="h2">1970 — 1980</h3>
										<p class="h3">Designs on JET and beginnings for ITER</p>
										<div class="icon">
											@@include('../partials/expend-icon.html')
										</div>
									</div>
									<div class="mod-accordion__content">
										<div class="wp-copy">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
										</div>
									</div>
								</div>
								<!-- accordion -->
								<div class="mod-accordion">
									<div class="mod-accordion__toggle">
										<h3 class="h2">1990 — 2000</h3>
										<p class="h3">JET record and a home for ITER</p>
										<div class="icon">
											@@include('../partials/expend-icon.html')
										</div>
									</div>
									<div class="mod-accordion__content">
										<div class="wp-copy">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
										</div>
									</div>
								</div>
								<!-- accordion -->
								<div class="mod-accordion">
									<div class="mod-accordion__toggle">
										<h3 class="h2">JUN 2021</h3>
										<p class="h3">General Fusion to build its fusion demonstration plant in the UK</p>
										<div class="icon">
											@@include('../partials/expend-icon.html')
										</div>
									</div>
									<div class="mod-accordion__content">
										<div class="wp-copy">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
										</div>
									</div>
								</div>
								<!-- accordion -->
								<div class="mod-accordion">
									<div class="mod-accordion__toggle">
										<h3 class="h2">FEB 2022</h3>
										<p class="h3">JET breaks fusion energy record</p>
										<div class="icon">
											@@include('../partials/expend-icon.html')
										</div>
									</div>
									<div class="mod-accordion__content">
										<div class="wp-copy">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
										</div>
									</div>
								</div>
								<!-- accordion -->
								<div class="mod-accordion">
									<div class="mod-accordion__toggle">
										<h3 class="h2">MAR 2022</h3>
										<p class="h3">Tokamak Energy achieves plasma temperatures of 100 million degrees</p>
										<div class="icon">
											@@include('../partials/expend-icon.html')
										</div>
									</div>
									<div class="mod-accordion__content">
										<div class="wp-copy">
											<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</section>
	
		</main>

		
		@@include('../partials/menu.html', {"home":"true"})
		@@include('../partials/footer.html', {"newsletter":"true"} )
	</div>
<script>
	window.jQuery || document.write('<script type="text/javascript" src="assets/js/vendors/jquery.js"><\/script>')
</script>
<script src="https://unpkg.com/@lottiefiles/lottie-player@0.4.0/dist/lottie-player.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>
