.mod-accordion {
	margin-bottom: 80px;
	border-top: 1px solid $black;


	.mod-accordion__toggle {
		cursor: pointer;
		position: relative;
		padding-top: 20px;

		.icon {
			position: absolute;
			top: 25px;
			width: 28px;
			height: 28px;
			// transform: rotate(-90deg);		
			will-change: transform;
			transition: transform 0.3s ease;
			right: 0;
		}
		svg {
			.r1, .r2 {
				transition:  0.3s ease;
			}
		}
		&:hover {
			color: $accent;
		}

	}
	
	.mod-accordion__content {
		transition: max-height 0.3s ease-in-out;
		max-height: 0px;
		overflow: hidden;
		max-width: 90%;
		> div {
			padding: 15px 0;
		}
		li {
			display: block;
			margin-bottom: 20px;
			@include bp-xl {
				margin-bottom: 32px;
			}
		}
		a {
			color: $darkblue;
		}

	}
	&.is-open {
		
		border-color: $accent;
		.mod-accordion__toggle {
			// color: $accent;
		}
		
		.mod-accordion__content {
			// max-height: 1000px;
		}
		.fill {
			fill: $accent;
		}
		svg {
			.r1 {
				height: 2.60871px; 
				transform: translateY(-2.60871px); 
			}
			.r2 {
				height: 2.60871px; 
				transform: translateY(8.60871px); 
			}
		}
	}
}