// override bootstrap
.cta {
	position: relative;
	min-width: 104px;
	display: inline-block;
	border-radius: 10px;
	color: $black;
	text-align: left;
	padding: 0 16px;
	padding-right: 48px;
	line-height: 41px;
	border: 1px solid $black;
	font-size: 16px;
	cursor: pointer;
	&:after {
		position: absolute;
		content: "";
		width: 15px;
		height: 16px;
		top: 50%;
		margin-top: -8px;
		right: 12px;
		background: transparent url('../media/images/icons/arrow-button-larger.svg') left top no-repeat;
	}

	&:hover {
		background-color: $black;
		color: $white;
		text-decoration: none;
		&:after {
			background-image: url('../media/images/icons/arrow-button-larger-white.svg');
		}
	}
}
.cta-black {
	&:hover {
		color: $white !important;
	}
}

.cta-pink {
	@extend .cta;
	border: 0;
	background-color: $accent;
	color: $black !important;
	&:after {
		background:transparent url('../media/images/icons/arrow-button-larger.svg') left top no-repeat;
	}

	&:hover {
		background-color: $pink50;
		text-decoration: none;
		&:after {
			background-image: url('../media/images/icons/arrow-button-larger.svg');
		}
	}
}

header.main {
	.cta-pink {
		padding-right: 42px;
		padding: 0 11px;
		line-height: 33px;
		font-size: 14px;
		&:after {
			margin-top: -7px;
			width: 15px;
			height: 15px;
			right: 5px;
			background-image: url('../media/images/icons/arrow-button.svg')
		}
		&:hover {
			&:after {
				background-image: url('../media/images/icons/arrow-button.svg');
			}
		}
	}
}

.cta-download {
	@extend .cta-pink;
	&:after {
		background-image: url('../media/images/icons/download.svg');
	}

	&:hover {
		&:after {
			background-image: url('../media/images/icons/download.svg');
		}
	}
}

.cta-more {
	@extend .cta;
	&:after {
		background:transparent url('../media/images/icons/plus.svg') left top no-repeat;
	}

	&:hover {
		&:after {
			background-image: url('../media/images/icons/plus-white.svg');
		}
	}
}


.cta-tag {
	background-color: $pink10;
	padding: 5px 20px;
	border-radius: 2px;
	color: $accent;
}

.link {
	position: relative;
	padding-right: 26px;
	font-size: 18px;
	&:hover {
		color: $accent;
		text-decoration: none;
		&:after {
			background-image: url('../media/images/icons/arrow-button-pink.svg');
		}
	}
	&:after {
		position: absolute;
		content: "";
		width: 15px;
		height: 15px;
		top: 50%;
		margin-top: -7px;
		right: 5px;
		background:transparent url('../media/images/icons/arrow-button.svg') left top no-repeat;
	}
}
