// override bootstrap
.cta {
	// display: flex;
	// flex: flex-wrap;
	// justify-content: space-between;
	a, button {
		// border: 1px solid $gold;
		// box-shadow: 0px 5px 8px -2px rgba(29, 38, 71, 0.15);
		border-radius: 10px;
		min-height: 31px;
		display: inline-block;
		padding: 5px 30px;
		text-decoration: none;
		margin-left: 15px;
		margin-right: 15px;
		margin-bottom: 5px;
		color: $gold;
		@extend .transi-fast;
		&:hover {
			text-decoration: none;
			background-color: $darkerblue;
		}
		&:first-child {
			margin-left: 0;
		}
		&:last-child {
			margin-right: 0;
		}
	}
	&--blue {
		a, button {
			border: none;
			color: $white;
			background-color: $darkblue;
			&:hover {
				background-color: $light-blue;
			}
		}
	}
	&--grey {
		a {
			color: $darkblue;
			background-color: $silver;
			&:hover {
				background-color: $lilac;
			}
		}
	}
	&--lilac {
		a {
			background-color: $silver;
			color: $silver;
			&:hover {
				background-color: $darkerblue;
			}
		}
	}
	&--lilac2 {
		a {
			&:hover {
				background-color: #666e99;
			}
		}
	}
	&.alignright {
		display: block;
		float: none;
		margin-left: 0;
	}
	&.alignleft {
		display: block;
		float: none;
		margin-right: 0;
	}
}

.link {
	a, button {
		position: relative;
		display: inline-block;
		color: $white;
		font-weight: $weight-extrabold;
		padding-right: 32px;
		@extend .transi-fast;
		&:hover {
			text-decoration: none;
			padding-right: 37px;
		}
		&:before {
		    content: "";
		    bottom: 1px;
		    height: 2px;
		    position: absolute;
		    right: 0;
		    top: 50%;
		    // transform-origin: bottom;
		    width: 18px;
		    background-color: $white;
		}
		&:after {
		    transform: rotate(-45deg);
			border-bottom-style: solid;
			border-bottom-width: 2px;
			border-right-style: solid;
			border-right-width: 2px;
			content: "";
			display: inline-block;
			height: 10px;
			right: 0;
			position: absolute;
			top: calc(25% + 2px);
			width: 10px;
			border-color: $white;
		}
	}

	&--purple {
		a {
			color: $lilac;
			&:before {
				background-color: $lilac;
			}
			&:after {
				border-color: $lilac;
			}
		}
	}
}