.mod-events {
    &--title {
        padding-top: 20px;
        @include bp-s {
            // padding: 0 $padding-s;
            padding: 20px;
            padding-top: 30px;
        }
    }
    &--articles {
        @include bp-s {
            padding: 0 20px;
        }
        .mod-events--article {
            display: block;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            border-top: 1px solid $black;
            display: flex;
            flex-wrap: wrap;
        
            &--title {
                width: 100%;
                margin-bottom: 10px;
                @include bp-tablet {
                    width: 45%;   
                    margin-bottom: 0;
                }
            }
            &--date {
                width: 100%;   
                @include bp-tablet {
                    width: 15%;   
                }
            }
            &--address {
                width: 50%;   
                @include bp-tablet {
                    width: 20%;   
                }
            }
            &--time {
                width: 40%;   
                @include bp-tablet {
                    width: 15%;   
                }
            }
            &--link {
                width: 10%;   
                text-align: right;
                @include bp-tablet {
                    width: 5%;   
                }
            }
            .fill {
                fill: $black;
            }
            .stroke {
                stroke: $black;
            }
            &:hover {
                text-decoration: none;
                color: $accent;
                .fill {
                    fill: $accent;
                }
                .stroke {
                    stroke: $accent;
                }
            }
        }
    }
    &--more {
        text-align: center;
        padding-bottom: 160px;
    }
}