.mod-events {
    &--title {
        padding-top: 30px;
        padding-bottom: 40px;
        @include bp-s {
            // padding: 0 $padding-s;
            padding: 20px;
            padding-top: 30px;
        }
        @include bp-xl {
            padding-top: $padding-xl;
            padding-bottom: $padding-xl;
        }
    }
    &--articles {
        padding-bottom: 30px;
        @include bp-s {
            padding: 0 20px;
        }
        @include bp-tablet {
            padding-bottom: 60px;
        }
        .mod-events--article {
            display: block;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            border-top: 1px solid $black;
            display: flex;
            flex-wrap: wrap;
            p {
                margin-bottom: 0;
            }
            &--title {
                width: 100%;
                p {
                    margin-bottom: 10px;
                }
                @include bp-tablet {
                    width: 45%;   
                }
            }
            &--date {
                width: 45%;   
                @include bp-tablet {
                    width: 30%;   
                }
                
            }
            &--address {
                width: 45%;   
                @include bp-tablet {
                    width: 20%;   
                }
            }
            // &--time {
            //     width: 40%;   
            //     @include bp-tablet {
            //         width: 15%;   
            //     }
            // }
            &--link {
                width: 10%;   
                text-align: right;
                @include bp-tablet {
                    width: 5%;   
                }
            }
            .fill {
                fill: $black;
            }
            .stroke {
                stroke: $black;
            }
            &:hover {
                text-decoration: none;
                color: $accent;
                .fill {
                    fill: $accent;
                }
                .stroke {
                    stroke: $accent;
                }
            }
        }
    }
    &--more {
        text-align: center;
        padding-bottom: 60px;
        @include bp-tablet {
            padding-bottom: 90px;
        }
        @include bp-xl {
            padding-bottom: 160px;
        }
    }
}