footer.main {
	width: 100%;
	background-color: $black;
	color: $white;
	background-repeat: repeat-x;

    .lines:before, 
    .lines:after, 
    .lines .top-line:before, 
    .lines .bottom-line:before {
        background-color: $darkgrey;
    }

    .mod-newsletter {
        width: 100%;
        text-align: center;
        padding-top: 90px;
        padding-bottom: 80px;
        @extend .innerPadding;
        h2 {
            margin-bottom: 23px;
            span {
                display: block;
            }
        }
        p {
            max-width: 425px;
            margin-left: auto;
            margin-right: auto;
        }

        .star {
            position: absolute;
            width: 41px;
            @include bp-tablet {
                width: 64px;
            }
            svg {
                width: 100%;
                display: block;
                height: auto;
            }
            &--1 {
                top: 10%;
                left: 5%;
            }
            &--2 {
                bottom: 10%;
                right: 10%;
            }
        }
    }
    nav {
        padding-top: 35px;
        @include bp-tablet {
            padding-bottom: 25px;
            display: flex;
        }
        @extend .innerPadding;
    	h4 {
            @extend .h5;
            color: $grey;
        }
        .col-footer {
    		width: 100%;
            margin-bottom: 30px;
    		@include bp-tablet {
    			width: 50%;
                margin-bottom: 0;
    		}
    		@include bp-xl {
                padding-right: 20px;
    			width: auto;
                min-width: 210px;
    		}
    	}
        li {
            @extend .small-copy;
            margin-bottom: 10px;
        }
    }
    a {
        color: $white;
        &:hover {
            color: $accent;
            text-decoration: none;
            &[target="_blank"] {
                &:after {
                    background-image: url('../media/images/icons/new-window-pink.svg');
                }
            }
        }
        &[target="_blank"] {
            &:after {
                content: "";
                display: inline-block;
                width: 12px;
                height: 10px;
                margin-left: 4px;
                background: transparent url('../media/images/icons/new-window.svg') center no-repeat;
            }
        }
    }

    .legal {
        padding-top: 18px;
        @extend .innerPadding;
        @extend .small-copy;
        padding-bottom: 20px;
        display: flex;
        @include bp-tablet {
            justify-content: flex-end;
        }
        .copyright {
            margin-right: 30px;
        }
    }
	
    // Newsletter
    form {
        overflow: auto;
        max-width: 338px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 36px;

        .mf-label-animate {
            position: relative;
            width: 100%;
            margin-bottom: 26px;
            text-align: left;
            label {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                line-height: 36px;
                padding-left: 12px;
                padding-right: 12px;
                transform: translate3d(0, 0, 0);
                transition: all 0.2s ease-in-out;
                opacity: .6;
                @extend .small-copy;
            }
            input {
                width: 100%;
                -webkit-appearance: none;
                width: 100%;
                border: 1px solid $white;
                padding-left: 12px;
                padding-right: 12px;
                line-height: 36px;
                border-radius: 5px;
                &:focus {
                    color: $accent;
                    outline: none;
                    // outline: 1px solid $accent;
                    border-color: $accent;
                }
                &[data-empty="false"] + label,
                &:focus + label {
                    // opacity: 1;
                    transform: translate3d(-12px, -100%, 0);
                    font-size: 12px;
                }
                &:-webkit-autofill {
                    -webkit-text-fill-color: $darkgrey !important;
                    background-color: $white !important;
                    // -webkit-box-shadow: 0 0 0px 10px $c-darkgrey inset;
                    transition: background-color 5000s ease-in-out 0s;
                }
            }
            button[type="submit"] {
                height: 36px;
                width: 36px;
                background:transparent url('../media/images/icons/arrow-button-white.svg') center no-repeat;
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                &:hover {
                    background-image: url('../media/images/icons/arrow-button-pink.svg');
                }
            }
        }

        #mc-embedded-subscribe {
           color: #fff;
           -webkit-appearance: none;
           border-radius: 0;
           // cursor: pointer;
           &:hover {
               color: $white;
           }
        }
        .optionalParent {
            display: none;
        }
        .indicates-required {
            display: none;
        }
        .brandingLogo {
            display: none;
        }
        div.mce_inline_error {
            border-colr: $white !important;
            font-weight: normal !important;
        }
        #mce-success-response {
            margin-bottom: 38px;
        }
        div.mce_inline_error {
            color: $white !important;
            font-weight: normal;
            padding-top: 8px;
            font-size: 90%;
            margin: 0 !important;
            background-color: transparent !important;
        }
    }

}


