

// Newsletter





footer.main {
	width: 100%;
	background-color: $black;
	color: $white;
	background-repeat: repeat-x;
	background-position: 0 bottom;
    background-size: 1440px 36px;

    .mod-newsletter {
        @extend .innerPadding;
        .lines {
            text-align: center;
            padding-top: 35px;
            padding-bottom: 35px;
            border-top: 1px solid $darkgrey;

        }
    }
    nav {
        padding-top: 35px;
        padding-bottom: 35px;
        display: flex;
        border-top: 1px solid $darkgrey;
        @extend .innerPadding;
    	h4 {
            @extend .small-copy;
        }
        .col-footer {
    		width: 100%;
    		@include bp-tablet {
    			width: 50%;
    		}
    		@include bp-xl {
    			margin-left: 32px;
    			width: auto;
    		}
    	}
    }
    a {
        color: $white;
        &:hover {
            color: $accent;
            text-decoration: none;
        }
    }

    .legal {
        padding-top: 18px;
        @extend .innerPadding;
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid $darkgrey;
        padding-bottom: 20px;
        .copyright {
            margin-right: 30px;
        }
    }
	
}
