header.main {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 500;
	width: 100%;
	text-align: center;
	// @extend .transi;
	// transitions-delay: 0.2s;
	// transition: background-color 0.3s ease;

	font-family: $font-reg;
	font-weight: $weight-medium;
	background-color: $black;

	


	nav {
		padding-top: 21px;
		position: relative;
		display: flex;
		justify-content: space-between;
		height: 75px;
		
		@extend .innerPadding;

		&:before, &:after {
			display: none;
			content: "";
			width: 1px;
			top: 0;
			bottom: 8px;
			position: absolute;
			background-color: $darkgrey;
			@include bp-s {
				display: block;
			}
		}
		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}

		a {
			color: $white;
			text-decoration: none;
			position: relative;
			line-height: 33px;
			&:hover {
				color: $accent;
			}
		}

		ul {
			display: none;
			@include bp-desktop {
				display: flex;
			}
			li {
				margin-right: 22px;
				&:last-child {
					margin-right: 0;
				}
			}
		}

		a.logo {
			display: block;
			position: absolute;
			top: 50%;
			width: 136px;
			height: 31px;
			left: 0px;
			transform: translateY(-50%);
			@include bp-s {
				left: 20px;
			}
			@include bp-desktop {
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
			}
			svg {
				width: 100%;
				height: auto;
				display: block;
			}
		}
		
	}

	.toggleMenu {
		position: absolute;
		width: 60px;
		height: 55px;
		z-index: 1;
		will-change: transform;
		transition: transform 300ms;
		top: 10px;
		outline: none;
		right: 0px;
		display: block;
		@include bp-desktop {
			display: none;
		}

		@include bp-xs {
			// right: 15px;
		}
		@include bp-tablet {
			right: 20px;
		}
	}
}
/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
.headroom {
	will-change: transform;
	transition: transform 250ms ease, background-color 0s ease;
}
.headroom--pinned {
	transform: translateY(0%);
}
.headroom--unpinned {
	transform: translateY(-100%);
}

