.mod-hero-center {
    &__inner {
        padding-top: 190px;
        padding-bottom: 120px;
        text-align: center;
        p.h3 {
            margin-bottom: 15px;
        }
        .cta {
            margin: 8px;
        }
    }
}