.mod-join-perks {
    // padding: 0 $padding-s;
    @include bp-tablet {
        display: flex;
        flex-wrap: wrap;
        padding: 0 $padding-xl;
    }
    &--perk {
        margin-bottom: 60px;
        border-left: 1px solid $grey;
        padding: 0 $padding-s;
        @include bp-s {
        }
        @include bp-tablet {
            width: 50%;
        }
        @include bp-xl {
            width: 33.33%;
        }
        >div {
            position: relative;
            @include bp-tablet {
                padding-right: 50px;
            }
            p{
                margin-bottom: 0;
            }
        }
    }
}