.mod-news {
    &--title {
        padding: 20px 0;
        @include bp-s {
            padding: 20px;
            padding-top: 30px;
        }
    }
    &--articles {
        @include bp-tablet {
            display: flex;
            flex-wrap: wrap;
        }
        .mod-news--article {
            margin-bottom: 60px;
            @include bp-s {
                padding: 0 20px;
                border-right: 1px solid $grey;
                border-left: 1px solid $grey;
            }
            @include bp-tablet {
                border-right: 0;
                width: 33.33%;
            }
            @include bp-xl {
                width: 25%;
            }
            &--featured {
                width: 100%;
                @include bp-tablet {
                    width: 66.66%;
                }
                @include bp-xl {
                    width: 50%;
                }
            }
            >a {
                position: relative;
                &:hover {
                    text-decoration: none;
                    color: $accent;
                }
                // padding-bottom: 80px;
                // height: 100%;
                // &:before {
                //     content: "";
                //     position: absolute;
                //     left: -20px;
                //     border-left: 1px solid $grey;
                //     top: 0;
                //     bottom: 0;
                //     pointer-events: none;
                // }
            }

            figure {
                background-image: url('../media/images/pattern/pattern.svg');
                margin-bottom: 20px;
                img {
                    width: 100%;
                    display: block;
                    height: auto;
                }
            }
            .date {
                margin-bottom: 7px;
            }
            .h3 {
                margin-bottom: 20px;
            }
            .cta-tag {
                display: inline-block;
            }
        }
    }
    &--more {
        text-align: center;
        padding-bottom: 60px;
        @include bp-tablet {
            padding-bottom: 90px;
        }
        @include bp-xl {
            padding-bottom: 160px;
        }
    }
}