

.ivanim-fade, .ivanimr-fade {
    opacity: 0;
    transition: opacity 0.6s ease;
    will-change: opacity;
    
    &.is-inview {
        opacity: 1;
    }

    &.d1 {
        transition-delay: 0.2s;
    }
    &.d2 {
        transition-delay: 0.4s;
    }
    &.d3 {
        transition-delay: 0.8s;
    }
    &.d4 {
        transition-delay: 0.8s;
    }
    &.d5 {
        transition-delay: 1s;
    }

   
}

.ivanim-slidefade, .ivanimr-slidefade {
    opacity: 0;
    transform: translateY(30px);
    will-change: transform;
    transition: all 0.5s ease-in-out;
    &.is-inview {
        opacity: 1;
        transform: translateY(0);
    }

    &.d1 {
        transition-delay: 0.2s;
    }
    &.d2 {
        transition-delay: 0.4s;
    }
    &.d3 {
        transition-delay: 0.8s;
    }
    &.d4 {
        transition-delay: 0.8s;
    }
    &.d5 {
        transition-delay: 1s;
    }
}


.anim-title {
    
    display: inline-block;
    strong {  
        position: relative;
        display: inline-block;
        opacity: 1;
        overflow: hidden;
        line-height: 1.1;
        &:before {
            position: absolute;
            z-index: 1;
            left: 0;
            top: 0;
            bottom: 0;
            content: "";
            height: 100%;
            width: 0;
            background-color: $accent;
            display: block;
            transform: translateZ(0);
        }
        // &:after {
        //     content:"\a";
        //     white-space: pre;
        // }
    }
    span {
        opacity: 0;
        // display: inline-block;
    }
    // &.c-white {
    //  &:before {
    //      background-color: $white;
    //  }
    //  span {
    //      &:after {
    //          background-color: $white;
    //      }
    //  }
    // }
    // &.bg-slide-dark {
    //  &:before {
    //      background-color: $black;
    //  }
    // }
    
    &.is-inview {
        // line-height: 1;
        strong {
            &:before {
                @include animation('title-reveal 1s 1 500ms');
            }
            &:nth-child(2) {
                &:before {
                    @include animation('title-reveal 1s 1 500ms');
                    animation-delay: 0.6s;
                }
            }
            &:nth-child(3) {
                &:before {
                    @include animation('title-reveal 1s 1 500ms');
                    animation-delay: 0.7s;
                }
            }
        }
        span {
            line-height: 1;
            transition-delay: 1s;
            opacity: 1;
            // &:nth-child(2) {
            //  transition-delay: 2s;
            // }
        }
    }
}
@include keyframes(title-reveal) {
  0% { width: 0%; }
  30% { width: 100%; }
  70% { width: 100%; }
  71% { width: 100%; left: 0; }
  100% { width: 100%; left: 100%; }
}

