.base-text {
	font-family: $font-copy;
	line-height: 140%; 
	letter-spacing: -2%;
	@include font-size(16px);
	font-weight: normal;
}

.small-copy {
	font-family: $font-copy;
	line-height: 140%; 
	letter-spacing: 0%;
	@include font-size(14px);
	font-weight: normal;
}

.large-copy {
	font-family: $font-copy;
	line-height: 140%; 
	letter-spacing: -2%;
	@include font-size(24px);
	font-weight: normal;
}


.tag {
	font-family: $font-copy;
	line-height: 100%; 
	letter-spacing: 2%;
	@include font-size(12px);
	font-weight: normal;
}




.title-styles {
	font-family: $font-copy;
	b, strong {
		font-family: $font-reg;
		font-weight: $weight-medium;
	}
	i, em {
		font-family: $font-title;
		font-style: italic;
	}
}

.mod-page-title {
	padding-top: 170px;
	padding-bottom: 126px;
	text-align: center;
}



.h1 {
	font-family: $font-title;
	font-weight: $weight-bold;
	letter-spacing: -4%;
	line-height: 104%;
	@include font-size(40px);
	@include bp-tablet {
		@include font-size(80px);
	}
}

.h2 {
	font-family: $font-title;
	font-weight: $weight-medium;
	letter-spacing: -4%;
	line-height: 104%;
	@include font-size(30px);
	@include bp-tablet {
		@include font-size(60px);
	}
}

.h3 {
	font-family: $font-title;
	font-weight: $weight-medium;
	letter-spacing: -4%;
	line-height: 112%;
	@include font-size(30px);
	@include bp-tablet {
		@include font-size(32px);
	}
}

.h4 {
	font-family: $font-title;
	font-weight: $weight-medium;
	letter-spacing: -4%;
	line-height: 112%;
	@include font-size(22px);
	@include bp-tablet {
		@include font-size(24px);
	}
}

.h5 {
	font-family: $font-title;
	font-weight: $weight-medium;
	letter-spacing: -3%;
	line-height: 112%;
	@include font-size(18px);
	@include bp-tablet {
		@include font-size(20px);
	}
}


