.base-text {
	font-family: $font-copy;
	line-height: 140%; 
	letter-spacing: -2%;
	@include font-size(16px);
	font-weight: normal;
}

.small-copy {
	font-family: $font-copy;
	line-height: 140%; 
	letter-spacing: 0%;
	@include font-size(14px);
	font-weight: normal;
}

.large-copy {
	font-family: $font-copy;
	line-height: 140%; 
	letter-spacing: -2%;
	@include font-size(24px);
	font-weight: normal;
}


.tag {
	font-family: $font-copy;
	line-height: 100%; 
	letter-spacing: 2%;
	@include font-size(12px);
	font-weight: normal;
}




.title-styles {
	font-family: $font-copy;
	b, strong {
		font-family: $font-reg;
		font-weight: $weight-medium;
	}
	i, em {
		font-family: $font-title;
		font-style: italic;
	}
}

.mod-page-title {
	padding-top: 170px;
	padding-bottom: 126px;
	text-align: center;
}



.h1 {
	font-family: $font-title;
	font-weight: $weight-bold;
	letter-spacing: -4%;
	line-height: 104%;
	@include font-size(40px);
	@include bp-tablet {
		@include font-size(80px);
	}
}

.h2 {
	font-family: $font-title;
	font-weight: $weight-medium;
	letter-spacing: -4%;
	line-height: 104%;
	@include font-size(30px);
	@include bp-tablet {
		@include font-size(60px);
	}
}

.h3 {
	font-family: $font-title;
	font-weight: $weight-medium;
	letter-spacing: -4%;
	line-height: 112%;
	@include font-size(30px);
	@include bp-tablet {
		@include font-size(32px);
	}
}

.h4 {
	font-family: $font-title;
	font-weight: $weight-medium;
	letter-spacing: -4%;
	line-height: 112%;
	@include font-size(22px);
	@include bp-tablet {
		@include font-size(24px);
	}
}

.h5 {
	font-family: $font-title;
	font-weight: $weight-medium;
	letter-spacing: -3%;
	line-height: 112%;
	@include font-size(18px);
	@include bp-tablet {
		@include font-size(20px);
	}
}



.anim-title {
	h1, h2, h3 {
		position: relative;
		display: inline-block;
		opacity: 1;
		overflow: hidden;
		span {
			opacity: 0;
			display: inline-block;
		}
		&:before {
			position: absolute;
			z-index: 1;
			left: 0;
			top: 0;
			bottom: 0;
			content: "";
			height: 100%;
			width: 0;
			background-color: $accent;
			display: block;
			transform: translateZ(0);
		}
		// &.c-white {
		// 	&:before {
		// 		background-color: $white;
		// 	}
		// 	span {
		// 		&:after {
		// 			background-color: $white;
		// 		}
		// 	}
		// }
		// &.bg-slide-dark {
		// 	&:before {
		// 		background-color: $black;
		// 	}
		// }
	}
	&.is-inview {
		h1, h2, h3 {
			&:before {
				@include animation('title-reveal 1s 1 500ms');
			}
			span {
				transition-delay: 1s;
				opacity: 1;
				// &:nth-child(2) {
				// 	transition-delay: 2s;
				// }
			}
		}
	}
}
@include keyframes(title-reveal) {
  0% { width: 0%; }
  30% { width: 100%; }
  70% { width: 100%; }
  71% { width: 100%; left: 0; }
  100% { width: 100%; left: 100%; }
}
