.base-text {
	font-family: $font-copy;
	line-height: 162.5%; 
	@include font-size(16px);
}


.title-styles {
	font-family: $font-copy;
	b, strong {
		font-family: $font-reg;
		font-weight: $weight-medium;
	}
	i, em {
		font-family: $font-title;
		font-style: italic;
	}
}

.mod-page-title {
	padding-top: 170px;
	padding-bottom: 126px;
	text-align: center;
}



.h1 {
	font-family: $font-title;
	@include font-size(48px);
	line-height: 108%;
	@include bp-tablet {
		@include font-size(120px);
	}
	@include bp-xxl {
		@include font-size(144px);
	}
}

.h2 {
	font-family: $font-title;
	line-height: 1.5;
	text-transform: uppercase;
	// font-weight: $weight-bold;
	color: $darkerblue;
	@include font-size(22px);
	letter-spacing: 2px;
	@include bp-tablet {
		letter-spacing: 4px;
		@include font-size(24px);
	}
	@include bp-xl {
		letter-spacing: 6px;
		@include font-size(28px);
	}

	&--white {
		color: $white;
	}
	&--silver {
		color: $silver;
	}
	&--teal {
		color: $teal;
	}
	&--darkblue {
		color: $darkblue;
	}
	&--center {
		text-align: center;
		margin-bottom: 32px;
	}
	&--mb-l {
		margin-bottom: 32px;
		@include bp-desktop {
			margin-bottom: 60px;
		}
	}
}

.h3 {
	font-weight: $weight-extrabold;
	font-size: 18px;
	line-height: 1.25;
	font-family: $font-copy;
	margin-bottom: 18px;
	@include bp-tablet {
		font-size: 20px;
	}
	@include bp-xl {
		font-size: 28px;
	}
	
	&--white {
		color: $white;
	}
	&--gold {
		color: $gold;
	}
	&--darkerblue {
		color: $darkerblue;
	}
}

.h4 {
	font-family: $font-title;
	@include font-size(24px);
	line-height: 130%;
	@include bp-tablet {
		@include font-size(36px);
	}
	@include bp-xxl {
		@include font-size(48px);
	}
}

.small-copy {
	font-family: $font-reg;
	line-height: 1.22;
	font-size: 14px;
	@include bp-tablet {
		font-size: 18px;
	}
}
