// variables
$font-title: 'Space Grotesk', sans-serif;
$font-copy: 'Inter', sans-serif;
$font-reg: 'Inter', sans-serif;
$font-bold: 'Inter', sans-serif;


$weight-light: 300;
$weight-reg: 400;
$weight-medium: 500;
$weight-bold: 700;
$weight-extrabold: 700;

$letter-spacing: 1.97px;

$bg-color: #fff;
$copy-color: #000000;



$black-100: #000;
$white: #FFFFFF;
$darkerblue: #090C31;
$darkblue: #262E5B;
$blue: #6F749B;
$lilac: #71789D;
$light-blue: #A6A9C8;
$gold: #F1B942;
$silver: #EFEEF2;
$teal: #008882;
$lightgreen: #89CA93;

$black: #000000;
$cream: #CEC3B4;

$green: #123B35;
$mint: #C4EFB7;
$purple: #770031;
$orange: #FF4800;
$navy: #000451;
$sky: #80B0FF;



$black: #000;
$darkgrey: #767676;
$grey: #dbdbdb;
$lightgrey: #f6f6f6;
$white: #fff;
$fusionpink: #FF8DF5;
$accent: $fusionpink;
$pink50: #ffc6fa;
$pink20: #FFE8FD;
$pink10: #fff4fe;


$image-path: '../images' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';


$max-w-desktop: 1360px;
$website-max-w: 1100px;

$height-mobile: 66px;
$height-desktop: 80px;
