// variables
$font-title: 'Nunito', sans-serif;
$font-copy: 'Nunito Sans', sans-serif;
$font-reg: 'Nunito Sans', sans-serif;
$font-bold: 'Nunito Sans', sans-serif;


$weight-light: 300;
$weight-reg: 400;
$weight-medium: 500;
$weight-bold: 600;
$weight-extrabold: 700;

$letter-spacing: 1.97px;

$bg-color: #fff;
$copy-color: #000000;

$black-100: #000;
$white: #FFFFFF;
$darkerblue: #090C31;
$darkblue: #262E5B;
$blue: #6F749B;
$lilac: #71789D;
$light-blue: #A6A9C8;
$gold: #F1B942;
$silver: #EFEEF2;
$teal: #008882;
$lightgreen: #89CA93;

$black: #000000;
$cream: #CEC3B4;

$green: #123B35;
$mint: #C4EFB7;
$purple: #770031;
$orange: #FF4800;
$navy: #000451;
$sky: #80B0FF;
// $oak: #994A24; // removed

$image-path: '../images' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';


$max-w-desktop: 1360px;
$website-max-w: 1100px;

$height-mobile: 66px;
$height-desktop: 80px;
