<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g class="fill" fill="black"> 
            <g>   
                  <rect class="r1" x="8.69629" y="11.3042" width="2.60898" height="8.69568"/>
            </g>
            <g class="r3">
                  <rect  x="8.69629" y="8.69556" width="2.60871" height="8.69661" transform="rotate(90 8.69629 8.69556)"/>
            </g>
            <g>
                  <rect class="r2" x="8.69629" width="2.60898" height="8.69568" />
            </g>
            <g class="r4">
                  <rect x="20" y="8.69556" width="2.60871" height="8.69661" transform="rotate(90 20 8.69556)"/>
            </g>
      </g>
</svg>