<footer class="main @@class">
	@@if (getintouch === 'true') {
	<div class="getintouch cta">
		<div class="container ivanim-slidefade">
			<a href="mailto:ir@signetglobal.com">Get in touch</a>
		</div>
	</div>
	}
	<section class="container-footer ivanim-slidefade">
		<div class="col-footer col-footer--logo">
			<a href="index.html">
				<img src="assets/media/images/logo-signet-global-large-vertical.svg" alt="Logo">
			</a>
		</div>

		<div class="col-footer">
			<div>
				<h4>COMPANY</h4>
				<ul>
					<li><a href="about.html">About Signet FFF</a></li>
					<li><a href="team.html">Teams</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div>
		</div>

		<div class="col-footer">
			<div>
				<h4>Asset Management</h4>
				<ul>
					<li><a href="asset-management.html">Services</a></li>
					<li><a href="global-leaders.html">Global Leaders</a></li>
					<li><a href="health-trends.html">Health Trends</a></li>
					<li><a href="absolute-return.html">Absolute Return</a></li>
					<li><a href="real-estate.html">Real Estate</a></li>
				</ul>
			</div>
		</div>

		<div class="col-footer">
			<div>
				<h4>Wealth Advisory</h4>
				<ul>
					<li><a href="wealth-advisory.html">Services</a></li>
				</ul>
			</div>
		</div>

		<div class="col-footer col-footer--info">
			<div class="">
				<h4>Reference</h4>
				<ul>
					<li><a href="library.html">Library</a></li>
					<li><a href="policies.html">Regulatory Disclosures</a></li>
				</ul>
			</div>
		</div>

		<div class="copyright">
			©2022 SIGNET FFF
		</div>
	</section>
</footer>

<!-- <aside class="cookie bg-gold no-swup" data-expire="10">
	<div class="container">
		<p>This website uses cookies to ensure you get the best experience on our website. For more information <a href="">click here</a>.</p>
		<div class="cta black"><a href="javascript:void(0)" data-no-swup="true" class="close-cookie">close</a></div>
	</div>
</aside> -->