<article class="mod-hero ivanim-hero">
	<div class="mod-hero__media">
		<img src="assets/media/images/hero-bg.png" alt="Background pattern">
	</div>
	<div class="mod-hero__media">
		<video id="intro_video" class="video-clip" data-src="assets/media/videos/home-hero-intro.mp4" muted playsinline loop></video>
	</div>
	<div class="mod-hero__inner">	
		<div class="container">
			<h1 class="h1"><span>The future of energy</span><span>starts here</span></h1>
		</div>
	</div>
	<a href="#intro" class="mod-hero__scroll scrollTo">	
		<i><span class="screen-reader-text">Scroll</span></i>
	</a>
</article>