<article class="mod-hero ivanim-hero">
	<div class="container">
		<div class="lines">
			<div class="mod-hero__inner">	
				<div class="container">
					<h1 class="h1"><span>The future of energy</span><span>starts here</span></h1>
				</div>
			</div>
			<div class="mod-hero__media">
				<div>
					<img src="assets/media/images/pattern/pattern.png" alt="Background pattern">
					<video id="intro_video" class="video-clip" data-src="assets/media/videos/home-hero-intro.mp4" muted playsinline loop></video>
				</div>
			</div>
			<a href="#intro" class="mod-hero__scroll scrollTo">	
				<i><span class="screen-reader-text">Scroll</span></i>
			</a>
		</div>
	</div>
</article>