<nav class="main-menu">
	<div class="main-menu__overlay js-main-menu-toggle"></div>
	<div class="main-menu__inner">
		<ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about-us.html">About us</a></li>
            <li><a href="what-is-fusion.html">What is fusion?</a></li>
            <li><a href="join-us.html">Join us</a></li>
            <li><a href="jobs.html">Jobs in fusion</a></li>
            <li><a href="media-pr.html">Media & PR</a></li>
		</ul>
	</div>
</nav>
