<div class="wheel">
<div class="words js-text-wheel">
    <div class="word word--16"><span>Mechanics <i></i></span></div>
    <div class="word word--17"><span>Buyers <i></i></span></div>
    <div class="word word--18"><span>Researchers <i></i></span></div>
    <div class="word word--19"><span>Speciadivsts <i></i></span></div>
    <div class="word word--20"><span>Technicians <i></i></span></div>
    <div class="word word--1"><span>Inspectors <i></i></span></div>
    <div class="word word--2"><span>Physicists <i></i></span></div>
    <div class="word word--3"><span>Integrators <i></i></span></div>
    <div class="word word--4"><span>Academics <i></i></span></div>
    <div class="word word--5"><span>Finance <i></i></span></div>
    <div class="word word--6"><span>Assessors <i></i></span></div>
    <div class="word word--7"><span>Consultants <i></i></span></div>
    <div class="word word--8"><span>Writers <i></i></span></div>
    <div class="word word--9"><span>Operations <i></i></span></div>
    <div class="word word--10"><span>Designers <i></i></span></div>
    <div class="word word--11"><span>Graduates <i></i></span></div>
    <div class="word word--12"><span>Managers <i></i></span></div>
    <div class="word word--13"><span>Scientists <i></i></span></div>
    <div class="word word--14"><span>Analysts <i></i></span></div>
    <div class="word word--15"><span>Engineers <i></i></span></div>
</div>
</div>
<!-- 
<svg width="1250" height="1114" viewBox="0 0 1250 1114" fill="none" xmlns="http://www.w3.org/2000/svg">
<g id="wheel" fill="black">
<g class="word" id="g11"transform="translate(614 1095) rotate(-90)" >
<text id="Graduates" class="svg-copy"><tspan text-anchor="start" x="230.418" y="30.956"></tspan></text>
</g>
<g class="word" id="g16" transform="translate(0 508)" >
<text id="Mechanics" class="svg-copy"><tspan text-anchor="start" x="288.223" y="30.956"></tspan></text>
</g>
<g class="word" id="g17" transform="translate(112.094 334.254) rotate(18)" >
<text id="Buyers" class="svg-copy"><tspan text-anchor="start" x="272.535" y="30.956">Buyers</tspan></text>
</g>
<g class="word" id="g18" transform="translate(157.109 152.757) rotate(36)" >
<text id="Researchers" class="svg-copy"><tspan text-anchor="start" x="234.768" y="30.956"></tspan></text>
</g>
<g class="word" id="g19" transform="translate(286.105 9.35852) rotate(54)" >
<text id="Specialists" class="svg-copy"><tspan text-anchor="start" x="279.55" y="30.956"></tspan></text>
</g>
<g class="word" id="g20" transform="translate(487.326 0.5) rotate(72)">
<text id="Technicians" class="svg-copy"><tspan text-anchor="start" x="182.954" y="30.956"></tspan></text>
</g>
<g class="word" id="g15" transform="translate(60.6484 694.857) rotate(-18)" >
<text id="Engineers" class="svg-copy"><tspan text-anchor="start" x="270.406" y="30.956"></tspan></text>
</g>
<g class="word" id="g14" transform="translate(136.537 866.845) rotate(-36)" >
<text id="Analysts" class="svg-copy"><tspan text-anchor="start" x="292.77" y="30.956"></tspan></text>
</g>
<g class="word" id="g13" transform="translate(272.748 995.214) rotate(-54)">
<text id="Scientists" class="svg-copy"><tspan text-anchor="start" x="257.525" y="30.956"></tspan></text>
</g>
<g class="word" id="g12" transform="translate(427.977 1102.04) rotate(-72)">
<text id="Managers" class="svg-copy"><tspan text-anchor="start" x="275.263" y="30.956"></tspan></text>
</g>
<g class="word" id="g10" transform="translate(717.723 851.461) rotate(-108)">
<text id="Designers" class="svg-copy"><tspan text-anchor="start" x="0.781723" y="30.956"></tspan></text>
</g>
<g class="word" id="g9" transform="translate(954.16 1004.66) rotate(-126)">
<text id="Operations" class="svg-copy"><tspan text-anchor="start" x="227.002" y="30.956"></tspan></text>
</g>
<g class="word" id="g8" transform="translate(1077.21 877.538) rotate(-144)">
<text id="Writers" class="svg-copy"><tspan text-anchor="start" x="274.021" y="30.956"></tspan></text>
</g>
<g class="word" id="g7" transform="translate(1210.8 739.226) rotate(-162)">
<text id="Consultants" class="svg-copy"><tspan text-anchor="start" x="242.857" y="30.956"></tspan></text>
</g>
<g class="word" id="g6" transform="translate(1250 548.972) rotate(-180)">
<text id="Assessors" class="svg-copy"><tspan text-anchor="start" x="279.497" y="30.956"></tspan></text>
</g>
<g class="word" id="g5" transform="translate(1114.2 391.978) rotate(162)">
<text id="Finance" class="svg-copy"><tspan text-anchor="start" x="199.514" y="30.956"></tspan></text>
</g>
<g class="word" id="g4" transform="translate(1064.79 243.078) rotate(144)">
<text id="g4_2" class="svg-copy"><tspan text-anchor="start" x="162.811" y="30.956"></tspan></text>
</g>
<g class="word" id="g3" transform="translate(980.965 93.3834) rotate(126)">
<text id="g3_2" class="svg-copy"><tspan text-anchor="start" x="200.467" y="30.956"></tspan></text>
</g>
<g class="word" id="g2" transform="translate(815.504 47.761) rotate(108)">
<text id="Physicists" class="svg-copy"><tspan text-anchor="start" x="175.614" y="30.956"></tspan></text>
</g>
<g class="word" id="g1" transform="translate(658 30) rotate(90)">
<text id="Inspectors" class="svg-copy"><tspan text-anchor="start" x="154.581" y="30.956"></tspan></text>
</g>
</g>
</svg>
 -->